[2014-11-11 00:48] ConnorDoyle opened #1 "Add JSON schemata for registry files"
- [X] command.json
- [x] marathon.json
- [x] package.json
- [x] index.json

[2014-11-11 00:49] ConnorDoyle opened #2 "Describe canonical registry directory structure"

[2014-11-11 00:50] ConnorDoyle opened #3 "Add commit hook to gzip the index"

[2014-11-11 00:50] ConnorDoyle opened #4 "Add commit hook to generate the index file"

[2014-11-11 00:50] ConnorDoyle opened #5 "Add commit hook to validate all JSON"
Depends on #1

[2014-11-11 00:52] ConnorDoyle opened #6 "Add first registry entry"

[2014-11-11 00:55] ConnorDoyle opened #7 "Describe templating system"
[{{moustache}}](http://mustache.github.io/mustache.5.html)

[2014-11-11 21:37] ConnorDoyle opened #9 "Specify index JSON schema"

[2014-11-11 21:38] ConnorDoyle opened #10 "Add script to build the package index"
@pyronicide we'll have to decide what you want the index to contain, see #9.

[2014-11-12 02:31] #6 closed, assigned to ConnorDoyle

[2014-11-13 08:43] #5 closed, assigned to nobody

[2014-11-13 08:43] #3 closed, assigned to nobody

[2014-11-13 08:43] #2 closed, assigned to nobody

[2014-11-13 08:44] #4 closed, assigned to nobody

[2014-11-19 23:10] cmaloney opened #13 "Add a latest.json to each package"
This makes it so a client can just get: `repo/packages/C/chronos/latest.json` to figure out the url for the latest `package.json`, `marathon.json`, and related files. Otherwise clients have to implement searching directories for the newest version.

[2015-02-11 18:11] ConnorDoyle opened #16 "Add an object to the package metadata to describe images."
For example,

[code]

We also should add size and format recommendations as non-normative elements of the spec.

[2015-02-11 18:11] ConnorDoyle commented on #16
cc @ashenden

[2015-02-11 18:13] ashenden commented on #16
Wooo!  Thanks for adding this.  For now, can we start with these fields?

* icon-small
* icon-medium
* icon-large
* screenshot (can we make this an optional array of zero to n screenshots?)

[2015-02-11 18:18] ConnorDoyle commented on #16
Sure.  If we want to tighten this up we can specify the raster dimensions of each image type.  We can also specify supported image formats (for example PNG or JPG).  Could you give some guidance on that here?

[2015-02-11 18:20] ashenden commented on #16
Let's stick with PNG and JPG for now.

As for the dimensions, these may change.  If I give you something to start with, can we change them later?

[2015-02-11 18:21] ConnorDoyle commented on #16
Updated the example JSON snippet with your suggested values.

[2015-02-11 18:25] ConnorDoyle commented on #16
Yes, we can surely change them later.  I've started in on a more formal spec of the registry contents, so we can use words like SHOULD (instead of MUST) for aspects that are simply suggestions.  We should deep in mind that many packages will be community-contributed and we don't want to make things too restrictive.

[2015-02-11 18:38] ashenden commented on #16
True.  So, let's roll with these for now (forgive the formatting if it's off)...

[code]

[2015-02-11 18:45] ConnorDoyle commented on #16
Thanks John!  I'll turn these into recommendations in the spec.  Probably no need to encode these in each package JSON.

Also, I'm guessing you've seen the iOS human interface guidelines but I just found a section on icons for mobile.  Could be helpful as a reference: https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/IconMatrix.html.

[2015-02-12 19:55] #16 closed

[2015-02-12 23:36] ConnorDoyle commented on #9
- tags
- description

[2015-02-12 23:41] jsancio commented on #9
@ConnorDoyle, @BenWhitehead and I talked about have a `requirements` field where you can specify things like Marathon version, Mesos version, etc.

[2015-02-16 20:24] ConnorDoyle opened #22 "Allow the specification of package dependencies."

[2015-02-16 20:34] pyronicide commented on #22
Why not do dependencies based off the package versions themselves? package B.0 -> package A.1

[2015-02-16 23:46] #9 closed

[2015-03-04 17:50] ConnorDoyle opened #27 "Change file name of marathon template"
It's conventional for mustache-templated files to be named with a `.mustache` suffix.  Consider changing the name of the marathon template to `marathon.json.mustache`.

[2015-03-04 17:53] jsancio commented on #27
Do you mean `marathon.json.mustache` instead of `marathon.json.template`?

[2015-03-04 18:07] ConnorDoyle commented on #27
Yes.

[2015-03-04 19:31] #10 closed

[2015-03-04 19:32] #1 closed

[2015-03-20 00:17] mlunoe opened #30 "Icon images for DCOS packages"
Here's a thread with the comments from DCOS UI: https://github.com/mesosphere/dcos-ui/issues/54

[2015-04-03 01:55] ConnorDoyle commented on #13
It's in the index, closing.

[2015-04-03 01:55] #13 closed

[2015-04-03 04:59] jsancio opened #40 "It is cumbersome to compile the index every time a package is added or modified"
Having to recompute the index for every package change is not optimal specially when there are multiple pending PR. Or when master changes after merging a PR. Do we need to compute the index every time a package is added? Can this be done on by the client on package update?

@ConnorDoyle @BenWhitehead

[2015-04-03 05:45] ConnorDoyle commented on #40
You're right.  Currently rebases are painful.  For background, we wanted the index file to always be up-to-date with the registry contents to allow thin clients to only fetch that file.  One concrete use case is that in the near future we might want to build a web-based frontend for package registries.  Can you guys think of a reasonable way to address this while still ensuring that the index cont

[2015-04-03 06:27] ssk2 commented on #40
Could the index permanently live on a special git branch in the case of git
repos? It could then be recomputed manually or automatically by a TeamCity
build.

On Thu, Apr 2, 2015 at 10:45 PM, Connor Doyle <notifications@github.com>
wrote:

[2015-04-03 06:28] ConnorDoyle commented on #40
That could work for us, but it's difficult to express in a spec and significantly raises the bar for hosting your own private universe registry.

[2015-04-03 16:10] ConnorDoyle opened #41 "Add a check to the pre-commit hook to make sure there are no unstaged changes."
CC @jsancio

[2015-04-03 17:13] #41 closed

[2015-04-03 17:14] BenWhitehead commented on #40
Having the index in a git branch makes it challenging to update no matter where it is.

We're probably going to have to create something that can serve an appropriate index based off certain constraints (alpha, beta, GA, etc) if we have a serving abstraction then the index can be built every build and collected as an artifact or uploaded to s3.

[2015-04-10 00:28] mgummelt opened #56 "config.json should be documented"
It's unclear what config.json is for, and it seems that at least the "properties" property is required, which is undocumented.  I was only able to continue by creating a dummy config.json.

[2015-04-21 04:05] jsancio opened #76 "Linter: Make sure that all properties that are declared are read at some point"
We should provide developers with tools that allow them to verify that their package definitions are correct. A common source of bugs is for the `config.json` to have options that are not used in `package.json` and/or `command.json`. The opposite is also a common source of bugs: `package.json` and/or `command.json` using options/properties that are not in the `options.json` schema.

cc @BenWhitehe

[2015-04-21 14:08] ConnorDoyle commented on #76
+1

[2015-04-29 00:26] air opened #99 "'framework' attribute of package.json not documented in README"
We don't mention the `framework:true` attribute in https://github.com/mesosphere/universe/blob/master/README.md#packagejson

We do have the word `framework` as an example of a tag - not sure if related (maybe that was an earlier approach?). Maybe clearer to remove that as a tag example.

It's definitely used in e.g. the HDFS package.json.

[2015-04-29 22:17] jsancio opened #103 "Support other markup languages that convert to JSON"
JSON's string literal doesn't support multiple line strings. This leads to very cumbersome marathon.json like [chronos](https://github.com/mesosphere/universe/blob/master/repo/packages/C/chronos/0/marathon.json#L5)

One possibility is to use YAML instead raw JSON since it support multiple line string literals.

[2015-05-01 01:24] ConnorDoyle opened #104 "Verify schema for marathon app id is correct"
cc @jdef

[2015-06-02 20:47] ConnorDoyle opened #146 "Validate presence of framework-name property in config.json when is_framework=true"
cc @jsancio @BenWhitehead

[2015-06-02 20:57] BenWhitehead commented on #146
I think this an okay idea, though it may cause an issue for cassandra which configures framework name based on the cluster name.

For example the user can specify `cluster.name = prod` which will result in a framework name in mesos of `cassandra.prod`

[2015-06-02 20:59] ConnorDoyle commented on #146
Based on how the DCOS UI maps registered frameworks to Marathon processes, there's no way around this (otherwise your service has 0 chance of appearing "healthy" in the UI).  Since that's the case, it should be required to avoid massive confusion.

[2015-06-02 21:00] ConnorDoyle commented on #146
The alternative for the UI is to change how that mapping is done.  That's outside the scope of this repo though.  cc @mlunoe && @rcorral.

[2015-06-02 21:20] jsancio commented on #146
FYI, We also need framework-name to be there given how uninstall works.

[2015-06-02 21:21] ConnorDoyle commented on #146
Good point.

[2015-06-02 22:56] rcorral commented on #146
Just for the record, if there's a `DCOS_PACKAGE_FRAMEWORK_NAME` we assume that the marathon app is a framework.

[2015-06-02 23:04] ConnorDoyle commented on #146
@rcorral -- understood.  That's something that doesn't live in this repo though (it's added as a label to the Marathon app), so the purpose of this required config parameter is to have a uniform way to communicate the value to the client (dcos-cli).

[2015-06-02 23:05] BenWhitehead commented on #146
I'm spinning up a cluster with 3 instances of the cassandra framework running so that we can test some of these things out before I roll it back.

[2015-06-03 00:11] mlunoe commented on #146
I think what you are talking about @ConnorDoyle is covered by this task, right?
https://mesosphere.atlassian.net/browse/DCOS-1561

[2015-06-03 00:28] BenWhitehead commented on #146
In the case of cassandra I think think things are handled rather well.

#### Install
I created a cluster and installed 3 different instances of the cassandra service.
1. Default cassandra.dcos
2. Configured `cassandra.cluster-name` to be `test1`
3. Configured `cassandra.cluster-name` to be `test2`

As can be seen in the screenshot below all three instances started by marathon cleanly:
![image](htt

[2015-07-01 22:15] Aerlinger opened #165 "A non-obtrusive convention for documenting packages?"
As others have noted it can be difficult to mentally parse each of the different configurations, versions, schemas, etc. for all of these different packages. Personally, I've noticed everything tends to blur together when navigating between package folders -- a problem that will obviously get worse as the repo grows.

One solution I'd like to propose is adopting the convention of adding a README.m

[2015-07-01 23:54] ConnorDoyle commented on #165
:+1: this sounds great.

[2015-07-02 00:00] pyronicide commented on #165
This sounds pretty fantastic to me. Could we integrate the pre/post install notes into the README so they're all in one place?

[2015-07-02 00:43] ssk2 commented on #165
Great suggestion!

[2015-07-02 01:15] jdef commented on #165
Does this proposal include auto-generating the README.md based on
information already contained in the .json files? For example the pre/post
notes (as suggested by Thomas) but also docs for all of the config options,
etc. I wouldn't want to have to keep redundant sets of documentation up to
date.

On Wed, Jul 1, 2015 at 8:43 PM, Sunil Shah <notifications@github.com> wrote:

[2015-07-02 02:26] jsancio commented on #165
cc @tsenart

[2015-07-02 07:37] tsenart commented on #165
JSON is already human readable. If we want more context on what the JSON means, let's define [schemas](http://json-schema.org/) and create tools to leverage them.

[2015-07-03 22:13] Aerlinger commented on #165
@tsenart I don't agree that JSON is readable in the sense that it can also double as a form of documentation, however, I definitely do agree that introducing JSON schemas would be the way to go. At the very least there should be a way of providing documentation on the "public" configuration options available to an end user of the CLI that wouldn't require knowledge of the internals or implementati

[2015-07-04 17:58] BenWhitehead commented on #165
@tsenart and @Aerlinger There are already json schemas for each of the different document types see here: https://github.com/mesosphere/universe/tree/version-1.x/repo/meta/schema

With regard to exposing the configuration options that are available for a given package, I believe this is something the CLI time is currently working on surfacing so you aren't having to dig through package files.  I w

[2015-07-06 16:22] jsancio commented on #165
Hey @Aerlinger. We are working on improving the CLI on this regard. @mgummelt is working on providing an option to the CLI to discover all of the configuration parameters of a package.

[2015-07-09 08:52] adam-mesos opened #167 "HelloWorld is not available from public internet"
Now that we have public vs. private slaves, we may want to tell Marathon to deploy HelloWorld to a public slave (via `acceptedResourceRoles`) so that users can actually see it. Alternatively, we'll have to add a router/LB for HelloWorld.
Since not all universe users are on DCOS-proper, let's make this a configuration parameter, not hardcoded in.

[2015-07-10 16:48] aquamatthias opened #169 "The provided scripts generate invalid json schema"
I have following installation:
python 2.7.9
jsonschema 2.5.1

If I build the package with the script provided `./scripts/build.sh`, an invalid json is generated.
The first entry of the packages looks like this:
[code]

What am I doing wrong?

[2015-07-10 18:40] jsancio commented on #169
@aquamatthias What branch are you running this against?

[2015-07-10 18:54] aquamatthias commented on #169
Branch is version-1.x

[2015-07-14 19:00] cmaloney opened #171 "Downloads from downloads.mesosphere.* using wrong URL"
All things which download stuff from downloadse.mesosphere.com should use the url: `https://downloads.mesosphere.com`.

Old URLs that are bad:
s3-direct: `https://s3.amazonaws.com/*`
Old domain: `https://downloads.mesosphere.io`
Non-https: `http://*.mesosphere.{io,com}`

[2015-07-16 20:30] john-dodson opened #172 "Kafka Package fails health check"
After running dcos package install kafka, the Marathon healthcheck just hangs until it times out and fails the task, never getting the kafka service out of a deploying state. When I SSH onto the slave running the process, curling the port that kafka is running on at the /health location times out.

[2015-07-20 17:47] john-dodson commented on #172
This is specific to using different instance types than the DCOS standard m3.xlarge. There is already a fix in the kafka-mesos master. A new jar just needs to be built and uploaded to Cloudfront and the DCOS package needs to be updated accordingly.

[2015-07-23 18:36] ryane opened #185 "improve custom configuration options for hdfs"
Right now, you can specify a custom `mesos-site.xml` via `hdfs.custom-config` in an `options.json` file when installing hdfs (although it currently does not get distributed to slaves - see https://github.com/mesosphere/dcos-hdfs/issues/5). However, you do not have the ability to specify any other `*-site.xml` configuration files (we need to customize `hdfs-site.xml`, for example). Currently, we ca

[2015-07-23 20:36] tamarrow commented on #169
Have you tried building this recently? I just tried and it worked for me :/

[2015-07-23 22:19] elingg commented on #185
Hello @ryane, You are correct that this should be dynamic and we should be using environment variables for configuration and this is part of our roadmap. Meanwhile, I will update the readme to let people know that they can set their configurations at compile time (in that case, the executor will have the correct configuration files bundled). See my PR here, https://github.com/mesosphere/hdfs/pull/

[2015-07-24 07:36] aquamatthias commented on #169
Clean checkout resolved the problem. Closing this ticket.

[2015-07-24 07:36] #169 closed

[2015-07-24 10:49] ryane commented on #185
Sounds good. The updated README definitely clarifies things. Thanks!

[2015-07-28 05:40] adam-mesos opened #188 "Remove hardcoded `hdfs://hdfs/` prefix from HDFS health check commands."
If any user has modified the cluster name to something other than 'hdfs', the current health check command won't work. We should double check the value of fs.default.name/fs.defaultFS that (a) DCOS-image ships with, and (b) the HDFS framework bundles in, since that's how `hadoop fs` is able to infer the `hdfs://hdfs/` prefix.

[2015-08-12 12:41] ohal opened #197 "failing to deploy spark using "$ dcos package install spark""
failing to deploy spark using "$ dcos package install spark"
here bug https://github.com/mesosphere/universe/commit/f909801eda2fc892b2c2a21c0de37e0956d14e93#commitcomment-12663068

[2015-08-12 15:26] #197 closed

[2015-08-17 21:08] brndnmtthws opened #205 "Kafka broker param defaults aren't great"
At the moment, the default Kafka broker params are less than ideal. For example, the default number of partitions is 1 (which isn't very intuitive). It would be great if there was a way (through DCOS) to specify more appropriate defaults, or even just change the defaults. For example, the number of partitions should be a nice number like 12, 24, or 48.

In the meantime, I created my own package wi

[2015-09-11 08:30] casusbelli opened #216 "pre-commit hook not working?"
Hi!
Is the pre-commit hook working for anyone?

My issue is that the pre-commit hook sets _UNIVERSE_DIR=$GIT_HOOKS_DIR/.._ but this is not correct as the dir structure is _universe/.git/hooks_ . Thus _UNIVERSE_DIR_ is set to _universe/.git_ and all subsequent script calls fail because _UNIVERSE_DIR/scripts_ cannot be  found (since bash is looking for the non-existing _universe/.git/.scripts_ dir).

[2015-09-12 11:25] ryane opened #219 "incorrect marathon templates for cassandra"
In the cassandra package, the keys (defined in config.json) for specifying mesos authentication principal and secret are "cassandra.framework.authentication.principal" and "cassandra.framework.authentication.secret". However, in the marathon.json template, the mustache sections are keyed with just "framework.authentication.principal" and "framework.authentication.secret":

https://github.com/mesos

[2015-09-14 19:11] #219 closed

[2015-09-15 19:45] jgarcia-mesosphere opened #222 "Elasticsearch fails to install with Unknown Option -zk"
When using `dcos package install elasticsearch`, it fails with the error
```/bin/sh -c exit `docker wait mesos-fc4657c0-2589-4d93-8f0f-67ed79bbb945`
com.beust.jcommander.ParameterException: Unknown option: -zk```

[2015-09-23 16:00] enxebre commented on #222
same here, think that the marathon file needs to be updated according to the java process options

[2015-09-30 21:45] ryane opened #237 "memsql and mesos authentication: docker container missing libsasl2-modules"
The memsql package does not work when mesos authentication is turned on.  Even if you enable authentication with a valid principal and secret using an options file, it will fail with an error like:

[code]

The solution is to install the `libsasl2-modules` package in the Docker image. I was able to build a new image with:

[code]

After tweaking the marathon.json to use my image, the memsql framew

[2015-09-30 21:54] wsong commented on #237
Hey, I'm from MemSQL and helped write the memsql framework.  Thanks for catching and diagnosing this issue!  We'll push out an updated Docker image soon.

[2015-09-30 22:10] wsong commented on #237
I've pushed out an updated mesos-scheduler image with the libsasl2-modules package installed.  Give it a shot and feel free to close this issue if it works.

[2015-10-01 12:29] ryane commented on #237
Thanks! Works fine with the updated image. Closing.

[2015-10-01 12:29] #237 closed

[2015-10-06 21:01] mgummelt opened #243 "./scripts/build.sh"
The requirement for contributors to run ./scripts/build.sh is undocumented.  Better yet, maybe it could be made into a commit hook.

[2015-10-19 05:07] jsancio opened #252 "Marathon package should construct zk url using marathon.zk and marathon.framework-name"
To guarantee that the Marathon zk node is unique we should construct the url as follow: `--zk {{marathon.zk}}/{{marathon.framework-name}}`. We were doing this in revision 2 of the package but was changed when we moved to revision 3. Does anyone remember why?

cc @kolloch @aquamatthias

[2015-11-05 15:29] ssk2 commented on #216
@casusbelli - looks like [this commit](https://github.com/mesosphere/universe/commit/3ffc687682b0e6dc3fcf68de6e0114a7f69948c7) fixed it. Thanks for raising an issue!

[2015-11-05 15:29] #216 closed

[2015-11-05 17:32] #167 closed

[2015-11-06 11:27] ssk2 commented on #171
[code]

[2015-11-06 11:27] ssk2 commented on #171
[code]

[2015-11-06 11:28] ssk2 commented on #171
[code]

[2015-11-06 17:07] jsancio commented on #171
Let's not change existing package revisions please. Create new package revisions with the fix.

[2015-11-10 13:47] ssk2 commented on #40
The index is built automatically with the pre-commit hook. Assuming this is set up correctly (I'm in the process of adding instructions to the README), the index will get updated with every commit and this should not be an issue anymore. I'm inclined to say this is not too much of an issue anymore but let me know if you disagree.

[2015-11-10 13:48] ssk2 commented on #185
@elingg - has there been any progress on this issue?

[2015-11-10 13:52] ssk2 commented on #172
@john-dodson - looks like the Kafka package was updated a month ago and includes the 0.9.2.0 release of kafka-mesos. I'm hopeful that the new package resolves this problem - please re-open this issue if that is not the case. Thanks!

[2015-11-10 13:52] #172 closed

[2015-11-10 13:54] ssk2 commented on #205
@brndnmtthws - is this still an issue? It looks like no brokers are started by default currently and the user can manually add brokers via the CLI. If you'd like the CLI to have better defaults, perhaps we could raise an issue against https://github.com/mesosphere/dcos-kafka.

[2015-11-10 13:55] #104 closed

[2015-11-10 13:55] ssk2 commented on #56
@mgummelt - is this any clearer now that we have several other example packages?

[2015-11-10 13:57] ssk2 commented on #27
Is this still a desirable change? We don't use `marathon.json.template` anymore.

[2015-11-10 14:41] #243 closed

[2015-11-10 14:48] mgummelt commented on #56
I think adding a short description in the `config.json` section would be an improvement.  At least something saying it's a JSON schema object.

[2015-11-10 14:55] ssk2 commented on #252
@jsancio - it looks like this might be a bug. @aquamatthias is working on a tool to generate Marathon DCOS app configs and we can re-assess this with that.

[2015-11-10 15:58] brndnmtthws commented on #205
I guess it's pretty easy to change via the CLI, so let's leave the defaults as-is.

[2015-11-10 15:58] #205 closed

[2015-11-10 16:04] #56 closed

[2015-11-10 19:36] elingg commented on #185
@ssk, @Kensipe is looking into how to make DCOS HDFS more configurable. As far as running HDFS on pure Mesos the readme clarifies things for ryane

[2015-11-11 11:33] ssk2 commented on #185
Okay, @kensipe - any update? Is this still an issue?

[2015-11-11 11:44] ryane commented on #185
in order to configure hdfs for our platform, we currently have to build a custom hdfs scheduler package: https://github.com/CiscoCloud/mantl-hdfs. it would be wonderful if we eventually didn't have to maintain this.

[2015-11-19 16:49] #171 closed

[2015-12-04 19:27] brndnmtthws opened #269 "Mustache templates are holding us back!"
Mustache templates are very limited (by design), and IMO make it difficult to implement certain features in the Universe. I'd like it if we could explore some more useful templating systems. For example, dealing with trailing commas in JSON (such as in a list or set, or at the end of a JSON block) with mustache is pretty much impossible.

[2015-12-09 00:13] jsancio commented on #269
Yes @brndnmtthws, this has come up a couple of times. Either have a more expressive template engine or a domain specific language.

[2015-12-09 20:47] cmaloney commented on #269
For DCOS Image we recently added a new template language which is a little more expressive and designed so that the templates can be the source of truth for what configuration variables need to be set (Almost all current template systems work on some variant of MVC, where the template is just something you use to make a view of your actual data store), might be worthwhile to see if it would solve

[2015-12-09 20:50] brndnmtthws commented on #269
@cmaloney is that a third party library? Or did we write our own?

[2015-12-09 20:53] cmaloney commented on #269
Wrote our own after evaluating a lot of different ones.

[2015-12-10 23:26] lingmann opened #271 "Marathon-user framework registers using hostname instead of LIBPROCESS_IP"
It seems that the marathon-user framework is improperly registering in zookeeper the hostname of the agent and not LIBPROCESS_IP. Here is what I'm seeing on my DCOS on Ubuntu test environment:

[code]

Note the line `INFO Registering in Zookeeper with hostPort:slaveprivate0:23898`. This hostname can not be relied on as being globally resolvable on a DCOS cluster. I suspect a simple fix would be ad

[2015-12-18 01:51] jgarcia-mesosphere commented on #252
Sorry team, just couldn't bear to wait: https://github.com/mesosphere/universe/pull/273

[2015-12-18 09:16] aquamatthias commented on #252
This is fixed in #268

[2015-12-18 14:48] jgarcia-mesosphere commented on #252
#268 is not yet available, and users are reporting issues while trying to follow the official docs. We need to merge this to make it work until #268 is available.

[2015-12-21 18:50] BenWhitehead commented on #269
follow

[2016-01-14 16:25] jdoklovic opened #286 "Cassandra: allow enabling of remote JMX"
The default install of cassandra only allows jmx connections from localhost.
To be able to use tools like datastax opscenter, it needs to be able to make remote jmx calls.
There should be an option to turn on remote jmx support and also provide creds.
see: http://docs.datastax.com/en/cassandra/2.0/cassandra/security/secureJmxAuthentication.html

[2016-01-14 16:34] jdoklovic commented on #286
looks like a quick fix would be to just allow setting the env var LOCAL_JMX=false when running the actual server/node task

[2016-02-09 18:34] jsancio commented on #252
I just did an install of marathon in `version-2.x` and by default it took over the `universe` znode. It should do that ideally by default is should use `universe/marathon-user`

cc @aquamatthias

[2016-02-09 18:35] jsancio commented on #222
ElasticSearch is not a package in this repository any more.

[2016-02-09 18:35] #222 closed

[2016-02-09 18:37] jsancio commented on #30
This is done.

[2016-02-09 18:37] #30 closed

[2016-02-09 18:37] jsancio commented on #27
This is done.

[2016-02-09 18:37] #27 closed

[2016-02-10 16:44] aquamatthias commented on #252
@jsancio what is the story about version 2? When will it be the default? We currently only maintain version 1.

[2016-02-10 16:45] aquamatthias commented on #252
As far as I see you created version 2

[2016-02-10 16:49] aquamatthias commented on #271
Hey @lingmann the hostname defaults to the hostname as observed by the OS. If no hostname is specified, we could default to $LIBPROCESS_IP. Is that your suggestion?

[2016-02-10 16:57] jsancio commented on #252
@aquamatthias version-2.x will become the default after 1.6.1 (when we release Cosmos). I created version-2.x for Marathon for you. I did this by copying the latest Marathon package and refactoring it to conform to the version-2.x spec.

[2016-02-10 16:59] jsancio commented on #252
Assigning back to you. Let me know if you need anything from me.

[2016-02-10 17:02] aquamatthias commented on #252
So what is the schedule for 1.6.1?

[2016-02-11 20:00] lingmann commented on #271
Hi @aquamatthias the main concern is that inside a DCOS cluster, the hostname reported by the host can never be relied upon. For example, it might be in an on-prem environment where the site DNS administrators did not properly configure hostname resolution cluster-wide.

So the suggestion is to make it so the marathon-user framework **always** registers with Mesos using $LIBPROCESS_IP and never th

[2016-02-12 08:39] #271 closed

[2016-02-16 17:49] tkrausjr opened #299 "Cassandra sub-cli has hard dependency on DCOS_CONFIG ENV Variable"
Cassandra package sub-cli seems to be misconfigured. Has a hard requirement for
DCOS_CONFIG  ENV variable to be set. I thought these dependencies were removed.
Fix would be to force user to set the variable to dcos.toml file or update:
"/Users/tkraus/.dcos/subcommands/cassandra/env/lib/python2.7/site-packages/dcos/util.py"
to remove the requirement.

$ dcos cassandra node list --json cassandra.dco

[2016-02-16 18:25] philipnrmn opened #301 "Git pre-commit hook enforces an old Marathon version"
After committing an update to the universe, I noticed that the current Marathon version was automatically set to 0.13.0 instead of the correct 0.15.2.

The issue seems to be [this call to `sorted`](https://github.com/mesosphere/universe/blob/version-1.x/scripts/build-index.py#L65), which sorts on string rather than int values.

[2016-02-16 23:59] mlunoe opened #302 "Default values for service name, cpu, mem and disk in config"

[2016-02-17 23:16] mlunoe opened #303 "'documentation' and 'issues' urls as optional fields to the package describe endpoint"

[2016-02-25 01:26] mlunoe commented on #302
Maybe it could be something like this:
[code]

[2016-02-29 20:58] ConnorDoyle opened #316 "The gh-pages site is out of sync with master"
http://mesosphere.github.io/universe

[2016-02-29 22:37] mlunoe opened #317 "We need a display name for packages"
Right now in the `/package/search` and `/package/list` endpoints I get package name. These are all lowercase, and I guess have technical significance. Can we get a display name, that does not have a technical significance?
![](http://cl.ly/3A3N2k20363L/Image%202016-02-29%20at%2014.34.33.png)

Cc. @ashenden and @rcorral

[2016-03-23 00:51] BenWhitehead opened #339 "Clean up cli-test-* branches"

[2016-03-28 15:38] pyronicide opened #341 "Match config to mustache"
Write a test that verifies everything in `config.json` is also in `marathon.json.mustache`.

[2016-03-30 21:12] jdef opened #348 "port k8s 0.7.3 changes from multiverse PR"
xref https://github.com/mesosphere/multiverse/pull/78

[2016-04-01 00:09] jsancio opened #351 "Update all of the packages so that they set the framework-name label directly."

[2016-04-03 20:36] vishnu2kmohan opened #355 "Extend enumerate_http_resources in local-universe.py to collect URIs from command.json"
Presently, `enumerate_http_resources` only attempts to download URIs specified in `resource.json`

But, some packages have DCOS CLI Subcommand packages which are referenced in `command.json` which also need to be downloaded for true offline support.

[2016-04-08 03:51] rcorral opened #371 "openvpn-admin package has DCOS_PACKAGE_FRAMEWORK_NAME label"
When the `openvpn-admin` package registers with Marathon, it has the `DCOS_PACKAGE_FRAMEWORK_NAME` and it shouldn't.

[2016-04-08 03:51] rcorral opened #372 "mr-redis package registers with a different name in Mesos and Marathon"
mr-redis package registers with the following names:
in Mesos: `MrRedis`
in Marathon: `mr-redis`

These should be consistent.

[2016-04-08 19:11] jsancio commented on #371
@pyronicide are you familiar with the implementation? Can you confirm that openvpn-admin is not a framework?

[2016-04-08 19:42] pyronicide commented on #371
It doesn't look like its a framework. Definitely passing that label right now.

[2016-04-12 18:19] jsancio commented on #372
I just looked at the package and everything looks correct. Can you help @pyronicide ?

[2016-04-12 23:28] #371 closed

[2016-04-14 09:31] casusbelli opened #392 "Wrong image reference in Quobyte package"
Hi!
Prior to the merge work from the multiverse to the universe repo a change was made in the Quobyte package that renders the Quobyte service (more accurately the quobyte-mesos framework) unusable.

The 'quobyte-server' image in resources.json was changed to 'kubermatic/quobyte-server:1.2.7' which does not work for the framework (e.g. the release tag is set dynamically by the dcos command).

I'll

[2016-04-16 20:42] eastlondoner opened #404 "README installation instructions don't work"
When I try:

$ dcos package repo add Universe https://universe.mesosphere.com/repo

I get:
Command not recognised

I have installed the latest dcos cli using
$ pip install -U dcoscli

[2016-04-18 15:10] kensipe commented on #99
all use of the word `framework` has been depreciated.  you will not see any use in `version-2.x` or moving forward.

[2016-04-18 15:10] #99 closed

[2016-04-18 15:11] kensipe commented on #351
this intended for `version-2.x` forward right?

[2016-04-19 18:23] casusbelli commented on #392
Solved by #414 .

[2016-04-19 18:23] #392 closed

[2016-04-21 21:16] jsancio commented on #316
Done. Thanks @ConnorDoyle !

[2016-04-21 21:16] #316 closed

[2016-04-21 21:31] bscott opened #429 "Kubernetes"
Is Kubernetes getting added to the repo?

[2016-04-21 21:59] air commented on #429
Kubernetes isn't currently installable, it became incompatible with the recent changes in DCOS 1.6.

We aren't working on that package right now, but we'd love some help moving it forward: https://github.com/mesosphere/kubernetes-mesos/milestones

[2016-04-21 22:02] bscott commented on #429
@air Thanks, is the plan to get 1.2 supported?

[2016-04-21 22:04] air commented on #429
No problem. Our current plan is 100% focused on DC/OS features but I hope we can get back to it eventually.

[2016-04-21 22:21] gabrielhartmann opened #430 "The index building script doesn't work when you have > 9 directories"
It looks like the index build script is sorting directories alphabetically.  I recently ran it and the below happened.  Note that currentVersion isn't the same as that defined in directory `10`

[code]

[2016-04-22 17:16] air commented on #429
Let me know if I can help further!

[2016-04-22 17:16] #429 closed

[2016-04-22 22:26] #430 closed

[2016-04-29 22:20] air opened #439 "README links to https://docs.mesosphere.com/usage/service-config/ which is 404"
https://github.com/mesosphere/universe/blame/version-2.x/README.md#L136

[2016-05-09 16:19] jsancio commented on #351
This done!

[2016-05-09 16:19] #351 closed

[2016-05-09 16:22] jsancio opened #444 "Test that selected package are downloaded with local-universe.py"
We need to make sure that at a minimum the selected packages are downloadable with the local-universe.py script.

[2016-05-09 16:22] jsancio commented on #444
cc @pyronicide

[2016-05-09 16:29] jsancio opened #445 "Avi package docker image in resource.json isn't fully specified"
A package's resource.json needs to fully specify the resources used. That includes PNG, HTTP resources and docker images. E.g.:

[code]

If the docker image doesn't include a tag docker assumes the `latest` tag. In this case the `latest` tag doesn't exists so downloading fails. Looking at `marathon.json.mustache` it looks like the tag is specified out of band: https://github.com/mesosphere/univers

[2016-05-09 16:29] jsancio commented on #445
cc @ksivask @kensipe

[2016-05-09 16:45] pyronicide commented on #444
@jsancio sounds like a great test to add to CI

[2016-05-09 18:45] tamarrow opened #446 "test that selected packages have linux, windows, and darwin cli binaries"
Non-selected packages can have 0-3 cli binaries specified.

[2016-05-13 20:18] ksivask commented on #445
working on resolving this.

[2016-05-18 04:03] dellintosh commented on #348
Any updates on this?  Just got our mesosphere cluster set up and was sad to see k8s not in the universe anymore... 😢   I'd love to see it back in there soon!  👍

[2016-05-18 17:48] jdef commented on #348
no updates for the moment. we've been focused on other, more immediate
customer priorities. in the meantime there have been some changes to dc/os
that are incompatible with k8s-mesos. so we removed the package rather than
leave it there, broken.

are you interested in running k8s on dc/os in production?

On Wed, May 18, 2016 at 12:03 AM, Justus Luthy (Boatright) <
notifications@github.com> wrote:

[2016-05-18 17:55] dellintosh commented on #348
Yes, we'd be implementing this in production as well as testing environments.  We have been using Kubernetes in our workflow to deploy applications (actually using [Deis workflow](https://deis.com/))... but we'd be open to alternatives if we can get the same `git push` build/deploy process in other implementations...

I recently came across Mesosphere (and DC/OS) and after installing it on a test

[2016-06-10 17:55] BenWhitehead opened #484 "Import contents of universe-1.7 repo"
After `version-3.x` branch is made the default branch, the contents of https://github.com/mesosphere/universe-1.7 will need to be imported into this repo.

[2016-06-10 18:38] tamarrow commented on #446
cc @BenWhitehead

[2016-06-12 10:49] thbeh opened #487 "cassandra"
Hi, I have successfully deploy dcos on bare metals (1 master, 1 bootstrap,3 agents). I have also deployed cassandra from bootstrap (using cli) successfully. My problem now is I can't  dcos ssh into cassandra from boostrap server. I have started ssh-agent and use ssh-add to add both bootstrap and master's id_rsa. When I  **_dcos node ssh --master-proxy --leader_** it keep asking for the password (m

[2016-06-15 22:53] BenWhitehead commented on #40
obsolete in version-3.x branch.

[2016-06-15 22:53] #40 closed

[2016-06-15 22:54] BenWhitehead commented on #446
Validated at CI time, not in the repo.

[2016-06-15 22:54] #446 closed

[2016-06-15 22:56] BenWhitehead commented on #301
`version-1.x` branch is deprecated. This issue doesn't affect `version-2.x` or `version-3.x`

[2016-06-15 22:56] #301 closed

[2016-06-17 20:36] jsancio opened #492 "Package in universe zip should conform to version 2"
The gen-universe.py script should set the packaging version to 2 when including packages in the universe zip. This includes:

- [x] packagingVersion is set to "2.0"
- [x] minDcosReleaseVersion is removed
- [x] resource.cli is removed
- [x] print a warning if resource.cli is removed and command is not included

[2016-06-20 18:11] #492 closed

[2016-06-21 18:24] ltagliamonte opened #499 "Issue with registered repositories"
I'm working on integrate sysdigcloud agent in the mesosphere universe.
I followed the guide https://mesosphere.github.io/universe/, all the pre-commit hook went well i was able to commit here:
https://github.com/ltagliamonte/universe/tree/sysdigcloud
Before submitting a PR I want to test it and I did:
[code]
navigating the universe from the UI i'm getting to following error:
![screen shot 2016-06-

[2016-06-21 18:49] jsancio commented on #499
Hi @ltagliamonte, we just changed how packages are stored in Universe and how they get synchronized to DC/OS. We also updated the README and GitHub page at https://mesosphere.github.io/universe/.

Do mind reading it again and see if your issue is resolved.

[2016-06-22 21:49] ltagliamonte commented on #499
Hi @jsancio i followed the new guide thank you for linking me there, i did some build but is seems that the generated docker containers has some problem:
https://teamcity.mesosphere.io/viewType.html?buildTypeId=Oss_Universe_UniverseServer&branch_Oss_Universe_2=pull%2F500&tab=buildTypeStatusDiv
i can successfully deploy the builds 129,130,136
i can't deploy the builds: 137,144,153
the nginx in cont

[2016-06-22 22:32] ltagliamonte commented on #499
it seems fixed with https://github.com/mesosphere/universe/commit/af0d2ca24155aa4408dd00f5bac7ee30b01728a9

[2016-06-22 22:32] #499 closed

[2016-06-23 17:49] BenWhitehead commented on #499
Thanks for raising this @ltagliamonte.

The issue ended up being that the image that was built for you, was a different base docker image than the one I had tested with :(

The update I made to fix the issue was to ensure that the files will always be accessible regardless of the inherent permissions in the base image.  Sorry for the issue.

[2016-06-23 17:49] #484 closed

[2016-06-28 15:06] smola opened #523 "Confluent service does not include licenses section in package.json"
Confluent service does not include licenses section in package.json. It is not clear whether it is fully or partially open source.

[2016-06-28 23:04] BenWhitehead commented on #523
/cc @dbtucker @gabrielhartmann @mohitsoni @nickbp

[2016-07-01 11:57] subodhp opened #538 "There is no "repo" in http service container"
HI,

I am trying to onboard local-universe on DCOS 1.7.
The http container service starts correctly on the port 8082.
The URL http://master.mesos:8082 works fine.
http://master.mesos:8082/repo doesn't.

It turns out that there is no content named repo in the local-universe container at /usr/share/nginx/html/repo (inside container)

I am not able to install Spark due to this as Repository service i

[2016-07-12 12:40] albertostratio opened #554 "ElasticSearch: get rid of "Continue installing?" prompt"
I'd like to get rid of the Continue installing? prompt that is showing up after the pre-install notes. Is there any way of setting this confirmation off? Why some services are showing up this prompt whereas others are not?

[2016-07-12 12:48] #554 closed

[2016-07-12 19:12] isurulucky opened #556 "Cannot Install Spark from either Web Console or CLI"
Trying to install spark from either web console or dcos cli with the command 'dcos package install spark' leads to the following error:

Could not access data at URI for repository [Universe-1.7]: https://universe.mesosphere.com/repo-1.7

I'm using dcos-vagrant setup [1], master branch.

[1]. https://github.com/dcos/dcos-vagrant

[2016-07-19 16:50] philwinder opened #569 "Feature request: Support marathon groups in marathon config"
I'd really like to be able to deploy my multi-container applications via DCOS universe.

Use case: We've developed a microservices reference application that I am able to deploy to Mesos/DCOS via Marathon using groups. There's about 8 different microservices and the dependencies are contained within the marathon block.

As of Jun 2016, the dcos-cli does support submitting groups to marathon. It's

[2016-07-22 22:30] ssk2 opened #583 "MySQL package should use persistent volumes"

[2016-07-28 10:36] tobilg opened #593 "Where did the index.json file go from version 2.x to 3.x"
I noticed that the former existing (`2.x`) file `repo/meta/index.json` is gone in `3.x`. Is this by purpose?

If so, is there a replacement, or another mechanism to get the repository contents in one file?

[2016-07-28 18:26] jsancio commented on #593
Hi @tobilg, starting with version `3.x` the list of packages is dependent on the version of the DC/OS cluster. The easiest way to get a list packages for your cluster to run the following CLI command against your cluster:

[code]

If you don't have a DC/OS cluster you can use HTTP directly. For example:

[code]

I should point out that this is an internal API and it may change in the future. Pleas

[2016-07-29 17:09] tobilg commented on #593
Thanks for the info! So basically, there is no longer a single file containing the index of packages, but a web service the CLI and DC/OS can use if I understand correctly?

I tried to do a

    GET https://universe.mesosphere.com/repo

with the headers you outlined, and received the following error message:

[code]

[2016-07-29 17:45] BenWhitehead commented on #593
You are correct, when a client wants to read from the universe it is no longer read directly from this git repo, instead it is read from a service (either universe-server, or universe.mesosphere.com).

@tobilg ensure that the accept and user-agent headers are sent with your request, they are important. Can you provide the full request you sent when you got the error?

Alternatively you could run t

[2016-07-29 17:46] BenWhitehead commented on #593
Actually docker-hub is timing out most of the time, this is the latest tag of universe-server `mesosphere/universe-server:20160729T162808Z-version-3.x-9800c596d5`

[2016-07-29 17:59] tobilg commented on #593
Thanks!

Postman gives me this:

[code]
If I use it like this, I can at least get an output, but it contains non-standard characters.

[2016-07-29 18:05] BenWhitehead commented on #593
The accept header value has to be exactly 'application/vnd.dcos.universe.repo+json;charset=utf-8;version=v3'. the charset and version are significant, ensure those are there. Otherwise the routing won't work correctly. (The server right now is nginx, so error handling is quite limited).

[2016-07-29 18:09] tobilg commented on #593
Using this now:

[code]

[2016-07-29 18:11] BenWhitehead commented on #593
Add `-L` to your curl command so it will follow the redirect.

[2016-07-29 18:11] tobilg commented on #593
Thanks, just noticed myself :-/ Sorry!

[2016-07-29 18:11] #593 closed

[2016-07-29 18:12] BenWhitehead commented on #593
No worries, glad you got it working.

[2016-07-31 03:22] simplyianm opened #604 "Feature request: Spark 2.x"

[2016-08-01 02:18] keithchambers commented on #604
Coming very very soon!

[2016-08-02 04:47] keithchambers commented on #604
@simplyianm  we merged Spark 2.0 in to Universe https://github.com/mesosphere/universe/commit/6de81579d6770a45214ddc30f5440c5a2a45e9b5. Please give is to try and let us know how it works for you.

[2016-08-02 10:17] martinstuder opened #613 "zeppelin & spark: java.net.UnknownHostException: namenode1.hdfs.mesos"
I have set up HDFS 0.9.0-2.6.0, Spark 1.0.1-2.0.0 and Zeppelin 0.6.0 on a DC/OS AWS cluster (using default parameters for all installations). When trying to run the Zeppelin tutorial I get a `java.net.UnknownHostException: namenode1.hdfs.mesos` in Zeppelin.

[code]

The last (sql) line above leads to the following exception:
[code]

[2016-08-02 10:18] martinstuder commented on #613
The following issue [here](https://github.com/mesosphere/hdfs/issues/250) might be related

[2016-08-02 14:22] martinstuder commented on #613
To add some more information: I'm running the AWS DC/OS template with a single master node. I.e. there is a single public node and 5 private nodes.

[2016-08-02 15:16] ddispaltro commented on #613
not that this tremendously helps you, but it's because of this https://github.com/mesosphere/dcos-zeppelin/blob/master/docker/Dockerfile the `hdfs-site.xml` and `core-site.xml` are static, that's where it's getting those values from.

[2016-08-02 19:11] dschmitz opened #614 "ramp up Zeppelin to released version 0.6.0"
https://zeppelin.apache.org/download.html

latest version 0.6.0 of Zeppelin has been release on 2nd of July could you please upgrade your version to the latest stable release?

[2016-08-03 08:43] ssk2 opened #618 "MySQL package needs icons!"
It's looking lonely without any icons. Let's add some.

[2016-08-08 18:49] martinstuder commented on #613
Just checked and this issue is still present in the latest DC/OS 1.8 release

[2016-08-08 19:26] ddispaltro commented on #613
@martinstuder as a workaround when I installed I did this.  This makes the spark kernel pull from your centralized config.

[code]

[2016-08-12 01:07] BenWhitehead opened #632 "Update local-universe resource rewriting to not include empty `.images` property as it will break on DC/OS 1.7 or older"
/cc @tamarrow @jsancio @pyronicide

[2016-08-12 01:08] BenWhitehead commented on #632
Customer ran into this issue today when a generated local universe had an empty `.images` in the mysql package

[code]

[2016-08-12 01:08] BenWhitehead commented on #632
Related to #618

[2016-08-12 18:40] #632 closed

[2016-08-15 18:42] martinstuder commented on #613
@ddispaltro I tried this on DC/OS 1.8.1 (AWS CloudFormation) with the zeppelin 0.6.0 package and got the following:

[code]

As far as I understand from https://issues.apache.org/jira/browse/ZEPPELIN-759 Spark 2.0 support will only come with Zeppelin 0.6.1.

I also tried just setting `zeppelin_java_opts` but still run against `mesosphere/spark:1.6.1-6` but that still yields:
[code]

It looks like

[2016-08-18 13:34] sudhaker opened #646 "Separate Universe for Commercial/Trial Packages"
Can we please have a separate "Universe" for Commercial/Trial packages? Another option could be to have a commercial flag & show $$$ icon next to them.

It's a bit frustrating to install something just to learn that they wrapped EE version (not CE), and we can't even do a demo without purchasing/registering the license.

- Sudhaker

[2016-08-19 13:06] errordeveloper commented on #569
We need this for Weave Scope package also.

[2016-08-19 13:06] errordeveloper commented on #569
cc @pyronicide

[2016-08-22 11:07] sononix commented on #613
snap - following - hitting the same issue as about using CloudFormation

[2016-08-24 11:57] albertostratio opened #655 "Feature request: Spark 1.6.2"
Although there is already a docker image within the mesosphere dockerhub with the tag 1.6.2 it seems like the version of Spark that is included with this image is 1.6.1.

[2016-08-25 19:09] mgummelt commented on #655
It was a bug during the release.  It's fixed now.

[2016-08-25 19:09] #655 closed

[2016-08-25 19:10] mgummelt opened #660 "Support adding non-latest packages"
I need to add a Spark package that's a bugfix release of a previous branch (e.g. 1.6), but I don't want this to become the default package, since the 2.0 branch is also published.  The integer package numbering doesn't allow for this.

[2016-08-26 05:06] luhkevin opened #665 "kafka package -- master.mesos port 80?"
I've been running a DCOS cluster and playing around with the kafka framework. Is it true that it must connect to the mesos master on port 80? I was running the `default_server` of my adminrouter on a non-default port (8081) through the `nginx.conf` and was getting an error that was preventing the broker from being created:

[code]

To note is the line `Causing: org.apache.http.conn.HttpHostConnect

[2016-08-26 06:20] albertostratio commented on #655
Thank you very much @mgummelt for sorting this out

[2016-08-26 12:56] marcinjedyk-msm opened #667 "kafka/30 seems broken"
Latest Kafka from Universe (https://github.com/mesosphere/universe/tree/version-3.x/repo/packages/K/kafka/30) seems broken - when DCOS tries to provision, it erros:
Exception in thread "main" org.apache.mesos.config.ConfigStoreException: org.apache.mesos.config.ConfigStoreException: Failed to retrieve or deserialize configuration '41661307-527d-4cf8-a6fb-95c5b5dc67d6' from path '/dcos-service-kafk

[2016-08-29 19:45] cruhland commented on #665
@gabrielhartmann would you be able to help with this?

[2016-08-29 19:45] cruhland commented on #667
@gabrielhartmann would you be able to help with this?

[2016-09-06 09:27] dschmitz commented on #614
Meanwhile 0.6.1 was released which also supports spark 2.0

[2016-09-07 09:17] Abhijeet-Jadhav opened #682 "DC/OS package: No support for running marathon application group"
I want to start/install multiple (discrete) applications/containers using 'dcos package install xyz.json'
Is there any support planned for Marathon application group in DC/OS package? If not, will be supported in future ?

[2016-09-08 19:14] tobilg opened #685 "Create a script for generating the Marathon app definition locally for testing"
I recently added the `marathon-slack` package to the universe, which was also merged (https://github.com/mesosphere/universe/pull/678). Even though the `scripts/build.sh` script didn't show any problems, it turned out that the generated Marathon app definition didn't work, probably because of an issue with Marathon (see https://github.com/mesosphere/marathon/issues/4333).

I would like to suggest

[2016-09-08 20:20] BenWhitehead commented on #685
@tobilg The rendering of the template is not something Universe is currently responsible for, the rendering is done by the consumer of the package definition ([cosmos](https://github.com/dcos/cosmos) for example).  And both universe and cosmos do not do any deep validation of the rendered marathon template since the validation logic of the app definition changes very frequently.

[2016-09-08 20:41] tobilg commented on #685
Thanks for the fast feedback, @BenWhitehead! I know that Universe is not responsible for the rendering, but as far as I understand the build.sh script actually is validating the JSON schemas, right?

That's why I thought it would maybe ne useful to include this functionality... Is there a suggested way to do a "front-to-back" test when developing new packages? The build.sh only validates the JSON

[2016-09-09 01:49] BenWhitehead commented on #685
The marathon.json.mustache does not have a schema itself, it is just a bunch of bytes, and can't be verified until rendered.

And the versions of marathon is a moving target crossing multiple versions of dc/os at the same time. Unfortunately the only real way to validate the the template is to render it and install it on all versions of dc/os it claims to be compatible with.

[2016-09-09 07:59] tobilg commented on #685
Yes, you're correct in the last paragraph, this would be a lot of manual work... Would there be a chance to integrate this in your TeamCity builds/tests for the Universe somehow? I guess nobody will have all the different DC/OS versions running.

Is there any suggestion on how package creator/maintainers can test their packages in a more complete way? Or, to rephrase it, what it the currently best

[2016-09-09 17:46] BenWhitehead commented on #685
Integrating it into TeamCity is unlikely to happen. We're in the process of evaluating the process of publishing and package and how we can improve it. We don't have any details yet but hopefully in the near future we will.

The best suggestion at this time, is as you say, build a universe-server (either locally or use one built from a PR) and then install the package on your dc/os cluster, ideall

[2016-09-09 17:56] tobilg commented on #685
Great, will do as you described. Looking forward to the new process... Thanks again for your time

[2016-09-09 17:56] #685 closed

[2016-09-10 10:37] liorze commented on #682
Possible duplication of #569

[2016-09-13 17:31] NimaVaziri opened #691 "marathon.json location when building Universe Server"
The [docs](https://github.com/mesosphere/universe#run-universe-server) mention the "`marathon.json` that is created when building Universe Server", but doesn't mention where this file is located.

[2016-09-13 22:45] BenWhitehead commented on #691
The location is listed in the section [Build Universe Server Locally](https://github.com/mesosphere/universe#build-universe-server-locally) item 2.

[2016-09-13 23:17] NimaVaziri commented on #691
My bad, not sure how I didn't see that. Closing.

[2016-09-13 23:17] #691 closed

[2016-09-19 12:56] adolphlwq opened #699 "kafka 1.0.7-0.9.0.1:Exception in thread "main" java.lang.UnsupportedClassVersionError: org/apache/mesos/kafka/scheduler/Main : Unsupported major.minor version 52.0"
Hi, I use Universe to install kafka 1.0.7-0.9.1 but failed.The mesos `stderr` log says:

[code]

The exception says compiled java version mismatch runtion java version.So if you java url `https://s3.amazonaws.com/downloads.mesosphere.io/kafka/assets/jre-8u72-linux-x64.tar.gz` mismatch jar files compiled java version?

[2016-10-03 23:38] fernandosanchezmunoz opened #747 "Quobyte package version "1.0.1b0" breaks generation of offline Universe"
When generating an offline universe as explained in:
https://docs.mesosphere.com/1.8/administration/installing/custom/deploying-a-local-dcos-universe/#scrollNav-2
An error was detected (full log following below):
ValueError: unknown url type: 'dcos-quobyte>=1.0.1b0'
Removing the quobyte package and applying this list solved it:
arangodb3,artifactory,cassandra,chronos,confluent-kafka,dse,gitlab,jen

[2016-10-03 23:39] fernandosanchezmunoz commented on #747
@casusbelli ^^

[2016-10-04 06:47] casusbelli commented on #747
Thanks for the hint, will check this out

[2016-10-07 10:13] casusbelli commented on #747
Ok, i can reproduce this easily.
Seemingly version-3.x branch docker build cannot interpret the command.json pip field in pips requirements.txt  format but only as an url. Since that config file is deprecated in version-3.x anyway I'll move it to resource config as described in the docs.

[2016-10-07 20:28] webroboteu opened #754 "dcos package of apache cotton (mysos)"
I manually installed mysos it has appeared a little cumbersome because of the compilation associated with mesos python bindings.

Is there the possibility of integrating the DCOS universe or have the ability to manage in general a mysql cluster not only in HA mode?
I manually installed mysos it has appeared a little cumbersome because there is the compilation associated with mesos python bindings.

[2016-10-11 09:16] casusbelli commented on #747
Fix at #756 but different from my previous comment this still uses command.json as the version 3 based format requires the binary client which currently is not available.

[2016-10-12 18:25] gisjedi commented on #569
👍 I'd consider packaging within DC/OS to be non-functional for any application of reasonable complexity without this feature. We have resorted to writing bootstrap containers that call the Marathon API launch all application components as individual Marathon apps. This becomes even more clumsy with 1.8 and the additional internal authentication required to the Marathon APIs.

This feature should a

[2016-10-20 21:31] joerg84 commented on #747
@casusbelli Hi, is this done and ready to land?
 @ryadav88 just FYI

[2016-10-20 21:46] ryadav88 opened #775 "Create Universe Package browser"
a listing of DC/OS packages that is autogenerated from the Universe repo itself. This would allow people to see what packages exist without having to go to the GitHub repo and trawl the JSON file

More info here: https://dcosjira.atlassian.net/browse/SITE-44

[2016-10-20 22:07] ssk2 commented on #404
This should now be working!

[2016-10-20 22:07] #404 closed

[2016-10-20 23:58] triclambert commented on #556
Hi @isurulucky.  Is this still an issue with the latest version of DC/OS and the Spark framework?

[2016-10-20 23:59] dbtucker commented on #523
confluent-kafka  service is all open source.   Will update the package accordingly.

[2016-10-21 00:10] triclambert commented on #487
Hi there, is this issue still relevant?  If so, please reopen.  Hope you got it to work!

[2016-10-21 00:10] #487 closed

[2016-10-21 00:13] triclambert commented on #667
Hi there @marcinjedyk-msm, can you try the latest version, 33?

[2016-10-21 07:14] casusbelli commented on #747
@joerg84 Hi! Change can be merged, there seemingly was a CI hiccup but that seems to be solved now and the change was tested ok. So far it has not been merged, however.

[2016-10-22 14:37] liorze opened #779 "universe-base Docker image fails to build"
`sudo make base` fails with the following error:

[code]

This is probably due to a newer version of nginx than 1.10.1-1~jessie. Is there a particular reason to require this version?

[2016-10-23 10:08] dluc commented on #775
I agree that would be useful indeed. As the list grows, this will become more and more useful when looking for solutions supported.

[2016-10-25 02:45] limx59 opened #782 "编译出错"
因为版本问题，出现编译错误！
后来发现是服务器端的软件版本升级了！

[2016-10-26 00:19] ryadav88 commented on #523
Closing per PR #780

[2016-10-26 00:19] #523 closed

[2016-10-26 08:15] zerix commented on #779
change Dockefile.base To:

[code]

it could resolved your question.

[2016-10-26 08:22] zerix opened #784 "install universe service reset by 10 minute, could change the time?"
I am in china, so the net is slowlly.

and when install service from mesosphere, it could't downloaded all the file and install service.

because when 10 minutes after, the install service job will be reset by marthon.

so, how to change the 10 minutes to 20 or 30 minutes??

I can't find any other error from log, just find it reset job per 10 minutes.

Thanks!

[2016-10-26 08:34] zerix opened #785 "ssl error when build local dcos universe"
when we build local dcos universe with the web:
https://dcos.io/docs/1.8/administration/installing/deploying-a-local-dcos-universe/#default

run to the 4 step:

`$ sudo make local-universe`

error info:
`Stopping docker registry.
registry
Traceback (most recent call last):
  File "/opt/mesosphere/packages/python--85de4172618f2a149f5e9b00223b50725249e98f/lib/python3.5/urllib/request.py", line 1254,

[2016-10-26 17:11] jsancio commented on #784
@cmaloney or @jasongilanfarr Do we have any advice for @zerix?

@zerix in the future please file issue like this in our DC/OS Jira at https://dcosjira.atlassian.net/secure/Dashboard.jspa

[2016-10-26 17:28] liorze commented on #779
There are many possible solutions, I filed this issue so the maintainers will be aware of this problem.

[2016-10-27 03:13] gisjedi opened #789 "Elasticsearch package is broken"
Elasticsearch package uses `elasticsearch:latest` docker image for the executors scheduled by the framework.  This is broken as of 10/26/2016 due to latest image migrating to ES 5.0.  The package can be fixed by specifying an explicit default of `elasticsearch:2.3` using --elasticsearchDockerImage argument to the scheduler.

[2016-10-27 03:46] zerix commented on #785
ok, I have fix the question .

patch the scripts/local-universe.py. disabled the ssl check:

`diff --git a/scripts/local-universe.py b/scripts/local-universe.py
index 4a5b636..dfddf57 100755
--- a/scripts/local-universe.py
+++ b/scripts/local-universe.py
@@ -16,6 +16,7 @@ import urllib.error
 import urllib.parse
 import urllib.request
 import zipfile
+import requests

 HTTP_ROOT = "http://master.m

[2016-10-27 18:01] #779 closed

[2016-10-27 18:39] ryadav88 commented on #789
closing per #790

[2016-10-27 18:39] #789 closed

[2016-11-08 11:58] andreimc opened #810 "Packages assets - served from root"
I have an issue when I install the services and css and js is served from root:

eg: example.com/dist/app.js

and I am running the service on

example.com/service/name

Any way I can fix this?

AWS install  of dcos

[2016-11-10 01:51] gisjedi commented on #789
This has been broken again as of https://github.com/mesosphere/universe/commit/23a4547b447851cbaeda586ec3827147fd2ede97. I'd recommend changing the default value for `docker-image` in config.json to `elasticsearch:2.3`.

[2016-11-10 15:40] ardlema commented on #789
Hi @gisjedi, not fully understand you. Do you mean that the framework does not work with images greater than 2.3? Have you tested it out with 2.4 version?

Anyway with the changes included in the PR that has just been merged you can now define the image you want to use by typing it within the new docker-image parameter

[2016-11-10 15:47] ardlema commented on #789
I've just deployed ES in my DC/OS cluster using the 2.4 docker image and it is up & running:

![es24](https://cloud.githubusercontent.com/assets/1173286/20183383/65bda4f2-a765-11e6-8e47-1814247a1855.png)

[2016-11-10 16:46] gisjedi commented on #789
@ardlema Thanks for follow-up. The issue is that if you _don't_ change the default, Elasticsearch will fail to start up. The default `elasticsearch:latest`image is incompatible with the JVM Heap arguments that the Elasticsearch scheduler is providing since `latest` now points to 5+. My suggestion was just to update the default so new users don't have to debug why the package fails to start.

I do

[2016-11-10 17:02] albertostratio commented on #789
Ok, I've got it @gisjedi. Thank you for clarifying.

In that case I think that it makes a lot of sense to set the default image to the latest that is working fine right now and when the people behind the framework make it compatible with 5+ we'll update the default image to become the latest one again.

If you agree I'll submit a new PR setting the default image to 2.4.1.

[2016-11-10 19:57] gisjedi commented on #789
@albertostratio Sounds great! Thanks for the quick turnaround on that.

[2016-11-15 07:36] tobilg opened #834 "Add missing descriptions to universe's JSON schema properties"
In the some of the JSON schemas of the Universe, the descriptions of some properties are missing. Examples are:

* https://github.com/mesosphere/universe/blob/version-3.x/repo/meta/schema/package-schema.json#L23-L44
* https://github.com/mesosphere/universe/blob/version-3.x/repo/meta/schema/package-schema.json#L109-L130
* https://github.com/mesosphere/universe/blob/version-3.x/repo/meta/schema/v3-r

[2016-11-21 09:09] tobilg commented on #775
I created a Universe package browser, which is available at https://universe.serv.sh

The project / repo behind it can be found at https://github.com/tobilg/dcos-universe-browser

Please let me know if you have some feedback, positive or negative, both welcome!

[2016-11-23 12:38] #252 closed

[2016-11-24 02:25] christtrc opened #846 "Make local universe on mac failed"
I build a local universe package on my mac. And I found some problems here:

1. On mac, local-universe.py should not restrict docker to use sudo.

[code]

2.After I disable the `sudo` check, there still have problem:

[code]
The tmp path '63qb75wt4qhvc0000gn/T/tmpt8se1gcw/registry' was changed on every build.

[2016-12-05 13:27] Makman2 opened #858 "readme: Write down full path to generated marathon.json"
In section
**
Repository Consumption
  Universe Server
    Run Universe Server
**
The full path should be mentioned, this saves a `find -name marathon.json`.

[2016-12-05 17:57] mnp opened #860 "kafka-manager package will not install on dcos-docker"
Vishnu from the dcos slack suggested I mail maintainer, which I did, but there was no feedback there, so here we are.  :-)

 I'm not able to install the kafka-manager package on a dcos-docker deployment running the kafka package.  It seems to need an options file, and even if I give it one, it is rejecting it with no useful message.

[code]

Yes, the brokers are happy:

[code]

Cosmos is not loggi

[2016-12-06 00:26] ryadav88 commented on #860
@jsancio ^^

[2016-12-06 04:08] chjhaijiang commented on #665
I met the same issue too, are you able to find a solution on it?

[2016-12-14 11:24] markusjura opened #871 "Kibana UI cannot be accessed"
After installing the latest Kibana 4.5.3 package from universe with:

[code]

the Kibana tasks started successfully.

[code]

Also, the Kibana log files are reporting that it has been started successfully:

[code]

However, accessing Kibana on `http://dcos-cluster/app/kibana` returns a 404.

Contacting Kibana directly on the Mesos agent IP address returns a 200:

[code]

So it seems that the routi

[2016-12-14 13:29] fernandosanchezmunoz commented on #871
Have you tried accessing it through marathon-lb?

On Dec 14, 2016 6:25 AM, "Markus Jura" <notifications@github.com> wrote:

[2016-12-21 11:23] albertostratio opened #886 "Kafka version not updated with the latest package"
Having a look at the latest version of the confluent platform package it seems like it's been updated to 3.1.1. The Confluent Platform docs states that kafka's version included within this version is 0.10.1.0 whereas the version included in the resource.json of the latest version is still 0.10.0.0: https://github.com/mesosphere/universe/blob/version-3.x/repo/packages/C/confluent-kafka/10/resource.

[2016-12-21 15:56] ryadav88 commented on #886
@dbtucker can you chime in? ^^

[2016-12-22 03:25] dbtucker commented on #886
I believe you're referring to these assets in resource.json
                 "scheduler-zip": "https://downloads.mesosphere.com/kafka/assets/1.1.16-0.10.0.0/scheduler.zip",
            "executor-zip": "https://downloads.mesosphere.com/kafka/assets/1.1.16-0.10.0.0/executor.zip",
            "overrider-zip": "https://downloads.mesosphere.com/kafka/assets/1.1.16-0.10.0.0/overrider.zip"

Those do not

[2016-12-22 07:50] albertostratio commented on #886
Thank you for replying @ryadav88  & @dbtucker

I guess you mean this guy: "kafka_tgz": "https://packages.confluent.io/archive/3.1/confluent-oss-3.1.1-mesos.tgz"

So...to fully understand what's going on in here the tooling artifacts are still in the version 0.10.0.0 and they are compatible with the version 0.10.1?

[2016-12-22 13:12] antonioalf opened #887 "issue when building universe server locally"
Hello,

I am seeing an issue when building universe server locally.
I clone the mesosphere/universe github repo and then I follow the instructions in the README:

- I validate and build the universe artifacts
scripts/build.sh

- I build the universe server docker image
DOCKER_TAG="mesosphere-universe" docker/server/build.bash

Now, I run the docker image generated in my machine:
docker run -dit -p

[2016-12-22 14:32] fernandosanchezmunoz commented on #887
That's not the correct way to install an offline repo. You shouldn't browse
to that address or download a zip file, but rather add the repo address as
a new repository either in system/repositories in the DC/OS UI (or
with dcos package repo add [--index=<index>] <repo-name> <repo-url> from
the CLI).

On Thu, Dec 22, 2016 at 8:12 AM, Antonio Alfonso Pujante <
notifications@github.com> wrote:

--
*F

[2016-12-22 14:36] antonioalf commented on #887
Downloading the zip file was a quick way to check what is gonna be served when I add it to the cluster in either of the two ways you comment.

When I add the repo as you comment, I see the same behavior, the packages marked with  'minDcosReleaseVersion' equal to '1.8' are not listed in the universe list.

I have a 1.8.4 DC/OS cluster and I add the repo with priority 0 and url http;//<my-machine-ip

[2016-12-22 14:52] fernandosanchezmunoz commented on #887
That doesn't look like a valid URL. It'd be
http://IP_address_of_the_node_where_your_offline_universe_repo_is_running:port
/repo

Please refer to:
https://docs.mesosphere.com/1.8/administration/installing/deploying-a-local-dcos-universe/

On Thu, Dec 22, 2016 at 9:36 AM, Antonio Alfonso Pujante <
notifications@github.com> wrote:

--
*Fernando Sanchez*
Sales Engineer
Mesosphere

[2016-12-22 15:00] antonioalf commented on #887
But I am not using an offline universe. I am using the instructions in the README of this repo to build a universe server locally.
In this way, a new docker image is created and I run it in my own system (which is reachable from the cluster), instead of running it inside the cluster itself, that is why I use my system ip and now the ip of a system inside the cluster.

[2016-12-22 15:09] antonioalf commented on #887
Actually, you can serve an offline universe from a system outside the cluster, as long as it is reachable by the nodes in the cluster.

[2016-12-22 20:52] renou opened #888 "Release latest kafka 1.1.17-0.10.1.0 in confluent-kafka"
The latest kafka is release in kafka package but not in confluent-kafka through https://github.com/mesosphere/universe/pull/873. Please make update to confluent-kafka too, thank you!

[2016-12-22 23:59] fernandosanchezmunoz commented on #887
I am failing to follow. If you're deploying a universe on a docker image,
independently of whether that image is running, you are indeed running what
we call an offline universe. As opposed to using the "online universe" at
https://universe.mesosphere.com/repo

Please refer to:
https://docs.mesosphere.com/1.8/administration/installing/
deploying-a-local-dcos-universe/

On Thu, Dec 22, 2016 at 10:0

[2016-12-23 06:01] dbtucker commented on #886
Correct ... the tooling artifacts (scheduler, executor, overrider) will support later versions of Kafka.

[2016-12-23 06:52] antonioalf commented on #887
I am following this instructions from the README of this repo and I quote:

"Repository Consumption

In order for Universe to be consumed by DC/OS the build process needs to be run to create the Universe Server.

Universe Server

Universe Server is a new component introduce alongside packagingVersion 3.0. In order for Universe to be able to provide packages for many versions of DC/OS at the same t

[2016-12-26 12:24] chenko47 opened #889 "UnicodeDecodeError while running build script in order to create pull request"
I would like to create a pull request with my fork, but after I've forked and cloned the project, I tried to run /scripts/build.sh script (after install jsonschema by pip module) but got this error :

[code]
using python 3.5
Any suggestions ?

[2016-12-26 19:09] ryadav88 commented on #889
@jsancio @cruhland ^^

[2017-01-03 20:40] cruhland commented on #889
@chenko47 it appears from the traceback that the contents of `repo/packages/S/sqlserver/0/package.json` contain a non-ASCII Unicode character. It's a single [em dash](http://www.fileformat.info/info/unicode/char/2014/index.htm) (`—`) in the following sentence of the `description` field (between `applications` and `which`):

[code]

However, I'm not sure why this is causing trouble because I'm unab

[2017-01-03 20:47] cruhland commented on #889
I've reproduced the issue by explicitly setting the encoding to ASCII when `open()`ing the file. @chenko47 could you update [this line](https://github.com/mesosphere/universe/blob/f9736cd2209aa8fa7949e85b5d3adbe0f0ee2782/scripts/validate-packages.py#L108) to the following, and confirm that it fixes your issue?

[code]

I'll create a PR shortly.

[2017-01-05 19:29] renou commented on #888
@dbtucker Any plan on releasing? :)

[2017-01-05 23:00] antman1p opened #900 "Error when making in a VB client vm"
I have tried multiple times making the local-universe on a CentOS VM using VirtualBox with both Docker 1.11 and 1.12. I have been trying to make a universe with only the Scale framework.  I do not get any noticeable errors, but when I try to extract the tarball using tar xvzf local-universe.tar.gz I get:
tar: manifest.json: implausibly old time stamp 1969-12-31 19:00:00
repositories
tar: repositor

[2017-01-06 19:59] dbtucker commented on #888
Separate PR just issued.   Thanks for the ping !

[2017-01-06 20:20] renou commented on #888
💥  Thank you!

[2017-01-06 20:21] #888 closed

[2017-01-07 17:22] ryadav88 commented on #900
@jsancio @cruhland ^^

[2017-01-08 17:59] sandhya-17 opened #905 "adding custom packages and deploying as local-universe"
Hi,

This is my first issue opened so kindly accept if any  inconvenience caused.
I actually wanted to deploy mesosphere-universe locally with some packages added to it and so followed the same steps  described in https://github.com/mesosphere/universe

below are the steps i did to add custom packages and then deploy this universe package locally:
1. Forked and cloned https://github.com/mesosphere

[2017-01-08 22:23] ryadav88 commented on #905
@sandhya-17 posted a response to your question on Stack Overflow: http://stackoverflow.com/a/41538525/3893700

[2017-01-08 22:24] #905 closed

[2017-01-09 09:48] tobilg commented on #846
I see the same behavior as of today.

[2017-01-09 13:42] ogs59 opened #906 "An error occurred while running make local-universe"
[root@dcosboot local-universe]# make local-universe
rm -rf certs &&                                                 \
rm -f local-universe.tar.gz || 0
python3 /usr/local/universe/universe/docker/local-universe/../../scripts/local-universe.py                      \
        --repository /usr/local/universe/universe/docker/local-universe/../../repo/packages/    \
        --selected &&

[2017-01-09 13:44] hhfcyong opened #907 "An error occurred while running make local-universe"
[root@dcosboot local-universe]# make local-universe
rm -rf certs &&                                                 \
rm -f local-universe.tar.gz || 0
python3 /usr/local/universe/universe/docker/local-universe/../../scripts/local-universe.py                      \
        --repository /usr/local/universe/universe/docker/local-universe/../../repo/packages/    \
        --selected &&

[2017-01-09 20:05] lucasyvas commented on #907
Same issue

[2017-01-11 04:43] #889 closed

[2017-01-11 07:38] hhfcyong commented on #907
Error still not resolved

[2017-01-13 08:58] tobilg commented on #906
Seemingly a duplicate of https://github.com/mesosphere/universe/issues/907

[2017-01-16 14:18] joerg84 opened #911 "Linkerd webui does not work due to absolute links."
@siggy @pyronicide @ryadav88
When trying to access the linkerd webui via adminrouter (e.g.,  by klicking "Open Service") in the UI, the UI will be broken.
See Screenshot below.
<img width="694" alt="screen shot 2017-01-16 at 14 53 52" src="https://cloud.githubusercontent.com/assets/10809446/21985566/a79e720a-dbfb-11e6-9854-9921cc7a4c82.png">

The reason for this is that you use absolute links in t

[2017-01-17 19:06] siggy commented on #911
Thanks for all the detail @joerg84! This will require a change in linkerd, tracking that work at: https://github.com/BuoyantIO/linkerd/issues/397

[2017-01-18 17:18] david618 commented on #907
I was getting the same error.  That tweak worked for me.  Thanks @lucasyvas

[2017-01-20 13:30] fil1o commented on #907
Same here.
replaced
        os.makedirs(str(http_artifacts))
        os.makedirs(str(repo_artifacts))
        os.makedirs(str(docker_artifacts))

with

        os.makedirs(str(http_artifacts), exist_ok=True)
        os.makedirs(str(repo_artifacts), exist_ok=True)
        os.makedirs(str(docker_artifacts), exist_ok=True)

Thanks @lucasyvas

[2017-01-20 20:22] #911 closed

[2017-01-23 05:31] hal-dj opened #917 "How do I create my own universe repo?"
Instead of commit my changes to the public repo, I am thdcos package repo add your-repo of creating a private repo. Is there any problem with the following plan?

1. Check  out universe code from https://github.com/mesosphere/universe.
2. Add new package (solr) to universe/repo/packages/R/solr/0/ (4 json files).
3. Run "DOCKER_TAG="my-solr-universe" docker/server/build.bash" to create the marathon

[2017-01-23 20:34] cruhland commented on #917
@hal-dj the URL you provided for your zip file is GitHub's web page for that file -- i.e. the content is an HTML document. You should instead use the URL given by the "View Raw" link on that page.

Repository zip files are deprecated as of DC/OS 1.8. They will still work, but you might want to [create a Universe Server](https://github.com/mesosphere/universe#repository-consumption-1) instead, whic

[2017-01-23 20:50] hal-dj commented on #917
@cruhland After adding the repo with the "raw" link now I am getting "Index file missing" error. I recall in that link, it mentioned an index.json file would be created in repo/meta/ after running the pre-commit command in hooks/. However this file never generates for me even though the validation for all packages passed.

Are you suggesting to run my own universe server on a dcos cluster? I am qu

[2017-01-23 21:36] cruhland commented on #917
@hal-dj

Hmm, did you run `scripts/build.sh` to generate the Universe zip? The blog post you used is out of date, but the README in mesosphere/universe has accurate instructions. In particular see the section on [submitting packages](https://github.com/mesosphere/universe#submit-your-package).

Yes, that is the intended approach. Your steps (1) and (2) can be done on your local development machine

[2017-01-23 21:43] joerg84 commented on #917
The steps are explained here: https://dcos.io/blog/2016/a-developer-s-guide-to-the-universe/index.html

The build steps can be done locally, the docker image is pushed to docker hub via the publish step.

[2017-01-23 22:50] hal-dj commented on #917
@joerg84 how do I publish it to our own docker registry with build.bash script?

BTW, build.bash does not seem to create index.json. I guess this file is not required, right. Since it is not mentioned in https://dcos.io/blog/2016/a-developer-s-guide-to-the-universe/index.html

[2017-01-26 01:26] sauryadas commented on #871
i have marathon lb running and i still get the 404 error. what am i doing wrong?

[2017-01-26 02:40] fernandosanchezmunoz commented on #871
In order to access it through Marathon-LB, open the Marathon-LB admin
interface at:

http://$PUBLIC_NODE_IP_ADDRESS:9090/haproxy?stats

This should show you a graphical interface similar to this:

[image: Inline image 1]

Apps published in Marathon-LB will appear here with the labels:

APPNAME_port

Now, in order to publish an app in Marathon-LB, like Kibana, you should
edit the app in the Service

[2017-01-26 03:10] csmith-work opened #922 "local universe build fails"
Attempting to build a local universe with `make local-universe` fails on line 78 attempting to make the docker_artifacts temp folder.  Stacktrace is below.  The temp folder is already created from line 70.  Renaming the docker_artifacts folder resolves the issue.

rm -rf certs &&							\
rm -f local-universe.tar.gz || 0
python3 /root/universe/docker/local-universe/../../scripts/local-universe.py

[2017-01-26 21:01] sauryadas commented on #871
Thanks .. that worked...

[2017-01-28 15:42] tobilg commented on #922
Apparently the same as https://github.com/mesosphere/universe/issues/907

[2017-01-30 14:18] markusjura commented on #871
No, I haven't tried using the marathon LB. I would expect that Kibana is available on http://dcos-cluster/app/kibana or http://dcos-cluster/service/kibana because this is the URI that is linked in the DCOS UI Kibana services page.

[2017-01-30 15:33] markusjura commented on #871
<img width="1267" alt="screen shot 2017-01-30 at 8 31 26 am" src="https://cloud.githubusercontent.com/assets/1832216/22429059/9bc17f60-e6c6-11e6-8b6f-870dbee43cc4.png">

I'd expect when clicking on the `Open Service` link that I then get redirected to the Kibana UI as with other services.

[2017-01-30 16:04] fernandosanchezmunoz commented on #871
That does not seem to be functional today -- you should look at the
marathon-LB option:

In order to access it through Marathon-LB, open the Marathon-LB admin
interface at:

http://$PUBLIC_NODE_IP_ADDRESS:9090/haproxy?stats

This should show you a graphical interface similar to this:

[image: Inline image 1]

Apps published in Marathon-LB will appear here with the labels:

APPNAME_port

Now, in or

[2017-01-30 17:34] markusjura commented on #871
Thanks for the workaround.

In order that the  http://dcos-cluster/app/kibana redirects to the Kibana UI correctly, is a change in https://github.com/mesosphere/universe/tree/version-3.x/repo/packages/K/kibana necessary or in another repository?

I am asking to know if this issue is addressed at the correct repository.

[2017-01-30 20:25] fernandosanchezmunoz commented on #871
I believe that the current version of the DCOS "Admin Router" component
does not allow for applications to change their root paths.

So when kibana changes the default URL "http://$DCOS_IP/service/kibana" to
"http://$DCOS_IP/app/kibana" or anything different, Admin Router will block
the traffic and it won't work. For applications that work that way, your
solution would be publishing them in an ext

[2017-02-01 14:44] tobilg commented on #775
Shall this issue be closed? @ryadav88

[2017-02-01 14:50] ryadav88 commented on #775
Yes

[2017-02-01 14:50] #775 closed

[2017-02-01 18:48] jsancio commented on #922
This should be fixed. Please let me know if you are still seeing this issue.

[2017-02-01 18:48] #922 closed

[2017-02-01 18:48] jsancio commented on #907
This should be fixed. Please let me know if you are still seeing this issue.

[2017-02-01 18:48] #907 closed

[2017-02-02 14:18] tobilg commented on #906
See https://github.com/mesosphere/universe/issues/922

[2017-02-02 20:41] drewkerrigan opened #931 "Local Universe Build Stores Resource URLs Incorrectly"
For packages like https://github.com/mesosphere/universe/blob/version-3.x/repo/packages/D/dcos-enterprise-cli/10/resource.json, all of the cli binaries have the same name (`dcos-enterprise-cli`). When creating a local-universe.tar.gz, this code: https://github.com/mesosphere/universe/blob/version-3.x/scripts/local-universe.py#L292-L302 will grab all of those binaries and put them at the same path

[2017-02-02 21:28] ryadav88 commented on #931
@jsancio @cruhland ^^

[2017-02-02 21:46] tkokev opened #932 "registry container fails to build when creating local-universe"
Below results in a "permission denied" error causing a failure to build a local-universe.

sudo docker build -t universe-base -f Dockerfile.base .
...
Removing intermediate container bedcb62f3ef3
Step 3 : RUN apt-key adv --keyserver hkp://pgp.mit.edu:80 --recv-keys 573BFD6B3D8FBC641079A6ABABF5BD827BD9BF62   && echo "deb http://nginx.org/packages/debian/ jessie nginx" >> /etc/apt/sources.list   &&

[2017-02-06 22:06] dannypurcell opened #945 "Use of `jsonschema` and `jq` in build scripts brings in extra dependencies for repo consumers"
The README section on [Repository Consumption](https://github.com/mesosphere/universe#repository-consumption-1) says one should be able to do
[code]
however, doing so on a fresh centos box seems to require the installation of the following dependencies
* `sudo yum install epel-release`
* `sudo yum install python34`
* `sudo yum install python34-devel`
* `curl -O https://bootstrap.pypa.io/get-pip.py

[2017-02-08 22:00] joerg84 commented on #945
@dannypurcell thx for your feedback! looking into this

[2017-02-09 22:08] #932 closed

[2017-02-16 09:19] errordeveloper commented on #569
It doesn't sound to me like this would be hard to fix, or am I missing something? Where should I look if I want to try fixing it?

[2017-02-17 10:05] toddleo opened #971 "SSL: DECRYPTION_FAILED_OR_BAD_RECORD_MAC when deploying local-universe"
Hi,

I'm trying to deploy my own local-universe refering to [Installing a selected set of Universe packages](https://docs.mesosphere.com/1.8/administration/installing/deploying-a-local-dcos-universe/). However, I ran in to an issue:

[code]

On the other machine, the error message is a bit different:

[code]

Seems to be something wrong with SSL and certificate.

[2017-02-26 09:20] tobilg opened #983 "The "ecr-login" package's images are all 404s"
I noticed that the "ecr-login" package's images are all 404s. I will also let the maintainer know.

I opened this ticket to track the progress.

[2017-02-27 16:16] tobilg commented on #983
cc @ryadav88 I'm closing this in favor of #985

[2017-02-27 16:16] #983 closed

[2017-02-27 16:26] tobilg commented on #834
Any chance this will be fixed @ryadav88 @ssk2? Thanks!

[2017-02-27 16:27] ryadav88 commented on #834
@jsancio @cruhland ^^

[2017-02-28 23:18] cruhland commented on #834
We'll address this next sprint: [DCOS_OSS-678](https://jira.mesosphere.com/browse/DCOS_OSS-678).

[2017-03-02 06:20] toddleo opened #991 "Request to Bump Neo4j Version"
Hi,

Neo4j has released their latest 3.1.1 version on [docker hub](https://hub.docker.com/_/neo4j/), it may looks like a minor version change however it might has solved a bug I encountered to recently. So pls consider bumping Neo4j to 3.1.1. Thx.

[2017-03-02 21:23] unterstein commented on #991
:tada: https://github.com/mesosphere/universe/pull/993

[2017-03-06 15:45] tobilg opened #1001 "Fix various package's invalid icons"
There are multiple packages which currently have invalid/missing images:

* dcos-enterprise-cli
* dynatrace
* sysdig-cloud
* tunnel-cli
* vamp

Some have mixed content warning, because they're only served via HTTP, and not HTTPS. Others are just missing. Goal should be that all images/icons are served via HTTPS and are available.

[2017-03-08 12:07] big-loser commented on #785
find add_http_resource() function.

[code]

fix the question

[2017-03-13 08:45] gl328518397 opened #1017 "How to change package.json 's description to newline ?"
my  package.json  is just like
 "description": "key1: value1; key2: value2; key3: value3. ",

I want see It in GUI like

Description
key1 value1;
key2: value2;
key3: value3.

How can I edit the package.json file?

[2017-03-13 15:31] cruhland commented on #1017
The JSON spec allows newlines in strings, as long as they are properly escaped (`\n`); see https://tools.ietf.org/html/rfc7159#section-7. I'm not sure how well the DC/OS GUI or CLI will handle them, however. cc @tamarrow @rcorral

[2017-03-14 06:16] gl328518397 commented on #1017
@cruhland  Hi ,thank you ,I have try and It dones't work.

[2017-03-14 08:36] gl328518397 commented on #1017
@cruhland  Hi I fix it by add  "\n\n" .

[2017-03-14 08:36] #1017 closed

[2017-03-16 09:19] bhack opened #1026 "Tensorflow"
As TF has more than 50k stargazers it is important to try to figure out how to support this popular framework in universe.
See also https://github.com/tensorflow/ecosystem/issues/25#issuecomment-286879391

[2017-03-16 14:32] unterstein commented on #991
In the meantime 3.1.2 was released and I updated directly to this newer version :)

[2017-03-16 16:42] tobilg commented on #1001
The `spark-history` package has no icons at all. Can this be fixed as well @mgummelt?

[2017-03-21 15:27] #991 closed

[2017-03-23 18:11] mnp commented on #846
I just got a good build on OSX by commenting out the check in local-universe.py and running as nonroot user.  I'm on the version-3.x branch at the 3/21 d310c6b revision.

[2017-03-28 18:48] mnp commented on #538
The /repo endpoint is intercepted by the nginx config file and mapped to one of the JSON or ZIP files in /usr/share/nginx/html.  Note that both User-Agent: and Accept: tags are examined by nginx to make this mapping:
- Accept: clients use this to pass in expected Universe protocol version: v3  for dcos up to 1.9 and v4 for dcos >= 1.10
-  User-Agent: header, which indicates the DCOS version to sho

[2017-04-03 08:35] tobilg commented on #1001
Any news here, @ryadav88?

[2017-04-03 08:43] tobilg commented on #834
Closing because of #1002 Thanks!

[2017-04-03 08:43] #834 closed

[2017-04-03 09:27] tobilg commented on #782
Can this be closed @limx59?

[2017-04-03 09:29] tobilg commented on #747
As the Quobyte package has apparently landed, can this be closed? @joerg84 @ryadav88

[2017-04-03 11:40] casusbelli commented on #747
@tobilg hmm, no. There are open reviewers comments i still have to address.

[2017-04-12 19:14] jcmcken opened #1084 "Support building local universe over an HTTP proxy"
Currently, some hacks are needed in order to build a local universe from behind a web filter/proxy (which is pretty standard in enterprise environments)

Here are some of the issues I've come across:

* ``docker/local-universe/Makefile`` - The ``local-universe`` target doesn't support passing ``HTTP_PROXY`` via environment. The bare ``sudo`` will not pass env vars into the Python process. If ``sud

[2017-04-12 19:22] jcmcken opened #1085 "Support building a local universe image when SELinux is enabled"
During the local universe build process, universe packages are pushed into a Docker registry container via ``docker push`` to ``localhost:5000``. If SELinux is enabled, the push will timeout, failing the installation process. The source of the issue is that the Docker container doesn't have permissions to write files to ``/var/lib/registry`` within the container due to a set of SELinux violations.

[2017-04-13 15:40] bhack commented on #1026
And also TF serving https://github.com/tensorflow/serving

[2017-04-13 17:45] jcmcken commented on #779
@pyronicide This issue cropped up again. This time it's looking for ``1.12.0-1~jessie``.

[2017-04-13 19:14] jcmcken commented on #1084
Related: the current workflow doesn't allow you to specify a directory for temporary files via the ``TMPDIR`` env var either. Since building the universe downloads a large number of artifacts, this can lead to an ``ENOSPC`` error (out of space on device) if your ``/tmp`` isn't large enough.

The ``sudo python3 scripts/local-universe.py`` would need to be ``sudo -E TMPDIR=$TMPDIR python3 ...`` (typ

[2017-04-14 12:11] ondrej-smola opened #1091 "Elasticsearch package does not set Admin Router entries"
Setup
* DC/OS 1.9
* Elasticsearch package 1.0.1-2

After installation there is no link to service UI from dashboard (http://{DASHBOARD}/service/elasticsearch/). This also breaks dcos/examples for elasticsearch.

[2017-04-14 12:42] jcmcken opened #1092 "The 'spark-history' service fails when building a local universe"
The ``scripts/local-universe.py`` script fails when it hits ``spark-history``. Traceback:

[code]

[2017-04-18 11:06] bergerx opened #1104 "Elastic framework and it's tasks memory defaults are problematic"
Can you parameterize the memosry for elastic framework?

It's currently set to 2G (https://github.com/mesosphere/universe/blob/version-3.x/repo/packages/E/elastic/5/marathon.json.mustache#L4) but in out 1.9 cluster the elastic marathon task keeps restarting by OOM. I bumped the mem in marathon task defition to 3G to solve the problem.

There is also similar problem with the proxylite task started

[2017-04-18 15:46] dgonzalez commented on #779
Yep. Unable to build the image at the moment.

[2017-04-21 13:27] bergerx commented on #1104
others are also reporting:
https://dcos-community.slack.com/archives/C132NTZJN/p1492704511646400

ingest's defaults are also does not seem good.here is another one hit issue with that:
https://dcos-community.slack.com/archives/C132NTZJN/p1492780815802640

[2017-04-21 13:49] bergerx commented on #1104
Changes I did:
- Increased mem for Framework task on marathon from 2G to 3G
- Increased memory of elastic framework using environment values of the framework:
  - PROXYLITE_MEM : 100 --> 200
  - INGEST_NODE_MEM: 1G --> 2G (this change is likely overkill)

[2017-04-26 04:26] avgovind opened #1128 "local-universe base image build fails"
I am unable to build the local universe repository. When I issue "make base" from my Centos 7 VM I see this console output:
rm -rf certs &&                                                 \
rm -f local-universe.tar.gz || 0
mkdir certs && openssl req                                      \
        -newkey rsa:4096 -nodes -sha256 -keyout certs/domain.key        \
        -x509 -days 365 -out certs/do

[2017-04-26 04:38] avgovind commented on #1128
Never mind. I fixed it by enablling IPV4 forwarding 'sysctl -w net.ipv4.ip_forward=1'

[2017-04-26 04:39] #1128 closed

[2017-05-03 00:06] jsancio commented on #931
fixed by https://github.com/mesosphere/universe/pull/933

[2017-05-03 00:06] #931 closed

[2017-05-04 22:43] yuchaoran2011 opened #1149 "beta-hdfs service failed to install"
I'm unable to install beta-hdfs from the universe. hdfs package works fine though. The error I got was "Options JSON validation failed". Screenshot attached.
<img width="402" alt="screen shot 2017-05-04 at 6 40 08 pm" src="https://cloud.githubusercontent.com/assets/1168769/25727803/45bc4b18-30f9-11e7-8032-1b206c930a38.png">
This happens to both 1.3.1-2.6.0-cdh5.9.1-beta (the latest) and 1.3.0-2.6.

[2017-05-15 05:30] wenlock opened #1171 "flink package fails to start after restart"
Hi, I'm trying to deploy flink on DC/OS OSS version 1.9 into a small local virtualbox cluster.   After deploying it the first time, it comes up fine, with web interface, but if I put the computer to sleep to work on it later.  When I come back flink doesn't seem to want to come back up.

Looking for guidance on finding the flink package maintainer and possibly how I might go about troubleshooting

[2017-05-15 05:47] joerg84 commented on #1171
@wenlock Thx for reporting! Will looks into it.

[2017-05-16 11:31] narendrar-egnaroinc commented on #971
I got the same issue.

Here are the error stack :+1: registry

AIM:  Trying to build own universal Installer with selected package and following bellow thing https://dcos.io/docs/1.9/administering-clusters/deploying-a-local-dcos-universe/#scrollNav-2
OS: Ubuntu 14.04
docker 1.12

_**Traceback (most recent call last):
  File "/usr/lib/python3.4/urllib/request.py", line 1182, in do_open
    h.reques

[2017-05-16 11:37] narendrar-egnaroinc commented on #1092
This make not sense, but to go for the next step just skip the **spark-history** or else we need to have resource.json  file to install.

[2017-05-16 13:26] mastermindg commented on #945
**Why has this not been corrected yet?** This is a simple fix. Just detail the dependencies in the README. It's not like people can't install them - it's just a BIG pain that the dependencies are not listed in the README and users need to come to issues to find this.

[2017-05-16 14:21] wenlock commented on #1171
@joerg84 I can't seem to keep my task manager up and running now... Even on clean deploys.  Any tips on how to troubleshoot that?

[2017-05-18 17:48] shashiranjan84 opened #1178 "Not able to resolve VIPs"
I am trying to develop official Kong [package](https://github.com/shashiranjan84/universe/tree/version-3.x/repo/packages/K/kong/1) for Universe repo. While testing I ran into a problem. I provisioned Kong with port 8000 attached to Marathon-LB for external LB and also registered VIPs for ports 8000, 8001, 8444. But when I ssh to a slave node and curl VIPs, it fails to resolve.

![image](https://cl

[2017-05-19 14:36] ryadav88 commented on #1178
@cruhland ^

[2017-05-23 04:22] wenlock commented on #1171
@joerg84 the flink package is working great for me for last two days now.  I don't seem to be able to reproduce the issues i was seeing 8 days or so ago.  I'll close this issue for now, since i can't reproduce it with more details.

[2017-05-23 04:22] #1171 closed

[2017-05-23 15:11] shashiranjan84 commented on #1178
@ryadav88 @cruhland please let me know if you guys need more information, kind of stuck with releasing official Kong pakage?

[2017-05-24 02:42] eurekao opened #1184 "can't launch a kafka service in dcos 1.9"
- when i use confluent-kafka 1.1.19.1-3.2.0e,the broker-0 can't startup it show this:
[code]
- when i use kafka 1.1.19.1-0.10.1.0 is the same as confluent-kafka 1.1.19.1-3.2.0e
- when i use beta-kafka 1.1.22-0.10.1.0-beta,it will show this error:
[code]
and
[code]

[2017-05-24 06:23] shashiranjan84 commented on #1178
Defining serf port separately for `tcp` and `udp` resolved the issue.  Closing the issue.

[2017-05-24 06:23] #1178 closed

[2017-05-24 20:47] cruhland commented on #1184
@eurekao please ask for help on the [DC/OS Community Slack](http://chat.dcos.io/) first. If it's determined that the problem is with Universe specifically, create a new issue here with the relevant details. Thanks!

[2017-05-24 20:47] #1184 closed

[2017-05-26 02:17] joerg84 commented on #1149
@yuchaoran2011 you have to go in Advanced Installation and check the "Agree to beta terms" box.
<img width="791" alt="screen shot 2017-05-26 at 11 17 17" src="https://cloud.githubusercontent.com/assets/10809446/26478115/f5f6a0fc-4204-11e7-833f-381599a40183.png">

[2017-05-26 03:00] yuchaoran2011 commented on #1149
@joerg84 Thanks!

[2017-05-26 03:00] #1149 closed

[2017-05-31 21:48] Rohithzr commented on #1001
@tobilg i think i will make a PR for this issue, i actually face the same issue.

so i can see i would need to simply fix the images in the `resource.json` specifically the `images` object. but do I also change the version in package.json ?

please let me know the actions ahead.

thanks

[2017-05-31 22:05] Rohithzr commented on #1001
@tobilg i also find an issue where some https images are not available. and they do are on custom domains... i can host them somewhere (like firebase, for free) but i need your opinion on this. what is the correct practice

[2017-05-31 22:18] Rohithzr commented on #1001
images not available for following packages

- [Riak](https://github.com/mesosphere/universe/blob/version-3.x/repo/packages/R/riak/1/resource.json#L5)
- [Mysql Small Image](https://github.com/mesosphere/universe/blob/version-3.x/repo/packages/M/mysql/4/resource.json#L3)

https images not available for following packages (http is available)

- [sysdigcloud](https://github.com/mesosphere/universe/bl

[2017-06-01 08:54] Rohithzr commented on #1001
@tobilg can you check this commit? most things are fixed https://github.com/Rohithzr/universe/commit/7e872d175c0ac6cd81335c4eac51d6a7e0fe156d

[2017-06-01 09:47] tobilg commented on #1001
@ryadav88 Can you please have a look? Thanks.

[2017-06-06 18:20] jsancio commented on #945
@dannypurcell and @mastermindg, excuse the delayed response. We are tracking this and should be scheduled to get worked on soon.

[2017-06-20 20:18] donghwicha opened #1235 "how to migrate apps from public to private"
Hello.

It seems that how to migrate apps from public universe to private universe is missing on the document.
Most of time when we talk about "repository service" like rpm, apt-get, docker,
there is a way to migrate from public to private in a common sense,
but I think the dcos universe document is missing this critical information.

[2017-06-22 10:09] skonto opened #1240 "Artifactory OSS version"
Is it possible to have a version other than those two:
https://github.com/mesosphere/universe/blob/8fa437e742eec4a362f0d098cf20b1620b870ef8/repo/packages/A/artifactory/2/resource.json
For example: https://www.jfrog.com/open-source/

Is there some reason not to do it? I was thinking of creating a package without licensing.

[2017-06-22 14:13] ryadav88 commented on #1240
@skonto the current package with licensing is maintained by JFrog. Please feel free to contribute a community version of opensource artifactory.

cc: @jainishshah17

[2017-06-23 17:42] takirala opened #1250 "Service name should not be allowed to contain spaces"
- Able to create a package.json with name field containing spaces.
- Extra space is not very cli-friendly to type and should be validated in the schema
- jsonschema validation currently passes the build even if there is a space.

Example :
[code]

[2017-06-23 18:36] #1250 closed

[2017-06-23 18:36] takirala commented on #1250
Created jira issue

[2017-06-26 10:56] scweang opened #1251 "recover from failures instead of restart when building local-universe"
My network is not very stable. There are always chances that my `make local-universe` failed because of network interruption. I find that when building, universe selects a tmp file to save its downloaded resources. I'm wondering if there is a chance that I can choose which file it can save to and if failed it will not restart all the downloading I have done before?

Thank you~

[2017-06-26 13:35] ryadav88 commented on #1251
@cruhland

[2017-06-29 15:21] jeid64 opened #1256 "New Zeppelin release is broken"
@deanwampler Hey, I think there might have been a mistake when you were specifying the Spark docker image to use. There is no mesosphere/spark:1.1.0-2.1.0-hadoop-2.7 image, so when local universe is built, it fails for Zeppelin. Did you perhaps mean 1.1.0-2.1.1-hadoop-2.7 ?

@ryadav88

[2017-06-29 15:22] ryadav88 commented on #1256
@deanwampler can you take a look? ^^

[2017-06-29 15:57] deanwampler commented on #1256
Yes, it's wrong. I just pushed PR #1257

[2017-06-29 18:42] wallnerryan opened #1259 "building `spark-history` in local-universe `--include` fails"
It fails with

`resource.json` no such file or directory and the entire build of local-universe.tar.gz fails

[2017-06-30 13:47] swoehrl-mw opened #1261 "Zeppelin error 'Could not parse Master URL' on running spark notebook with new release"
I installed the new zeppelin package on a fresh AWS CloudFormation DC/OS 1.9 Stable cluster (with default settings) and tried to run the minimal example from https://github.com/dcos/examples/tree/master/zeppelin/1.9 .
After a few seconds it failed with status ERROR.
Investigating the interpreter logs inside the zeppelin docker container I found the following error:
`org.apache.spark.SparkException

[2017-07-12 18:33] rajeshwer commented on #1259
I have the same issue failed to build spark-history is there any fix or work around for this issue?

[2017-07-12 21:43] wallnerryan commented on #1259
For the time being we packaged up spark-history ourselves and serve it to the cluster via artifactory.

[2017-08-01 21:47] #945 closed

[2017-08-12 23:01] #1104 closed

[2017-08-28 19:42] yuchaoran2011 opened #1389 "spark-history fails to install"
When trying to install spark-history from the UI, I got:
"The schema for this package is not properly configured. If you are the package owner, please check your configuration. Or you may contact the maintainer: support@mesosphere.io"

[2017-09-07 09:39] AkshayDubey29 opened #1406 "[Proposal] Updates for Apache nifi version 1.3.0"
New Package will create the image for nifi 1.3.0 (Latest available version)

[2017-09-11 16:26] lambertjosh opened #1422 "[gitlab] Update `git_data_dir` to latest format"
We need to update the `git_data_dir` setting to use the newer format, as the current one is deprecated and will stop working in 10.0.

We need to switch `git_data_dir '/gitlab-data/git-data';` to `git_data_dirs({ "default" => { "path" => "/gitlab-data/git-data" } });`.

[2017-09-12 00:20] minyk opened #1425 "Ceph package is broken."
The package needs a file from https://dl.bintray.com/vivint-smarthome/ceph-on-mesos/ceph-on-mesos-0.2.11.tgz, but it's response is forbidden.

[2017-09-18 20:45] bergerx commented on #1425
This broken link in package caused us to spend a couple of days to reach a state just to test the framework, check this discussion for the root cause of the "forbidden" issue:
https://dcos-community.slackarchive.io/storage/page-25/ts-1504190894000515

We then had to spend good amount of time and effort to compile the framework due to several make and sbt issues until we are able to compile it ours

[2017-09-18 21:44] joerg84 commented on #1425
@bergerx Should we host the file somewhere else?
Can you share your changes so I can recompile?

[2017-09-18 21:44] joerg84 commented on #1422
Can you make a PR @lambertjosh

[2017-09-19 00:14] minyk commented on #1425
Just for information, `ceph-on-mesos` cannot deploy ceph `luminous` version because `luminous` needs `ceph-mgr` daemon for cluster setup. But `kraken` is deployable.

[2017-09-19 13:16] bergerx commented on #1425
@minyk Hosting file in some other more reliable artifact store could be really helpful and just address this issue. It was Silvano from our team who compiled it for us you can find the compiled version here: https://github.com/Melozzola/ceph-on-mesos-0_2_11_tgz/raw/master/ceph-on-mesos-0.2.11.tgz

I'll try to find how he has compiled and share here.

But if I get it right the real issue about the

[2017-09-19 13:42] bergerx commented on #1425
Below you can find a copy paste of compilation notes from our internal wiki, it was @Melozzola who did the hard work putting these together.

# Build ceph-on-mesos

The first step is to install sbt. For mac I used homebrew
[code]

The second step is to install ensime. In your ~/.sbt/0.13/plugins/plugins.sbt add
[code]
If the file is not there, create it.

The third step is to clone the git reposit

[2017-09-28 12:18] jzampieron opened #1453 "Enhance beta-kubernetes to support external etcd."
For folks running CoreOS who have an external etcd cluster already running, we should be able to point kubernetes at that and reuse it.

Currently, such configuration options are lacking.

[2017-09-28 13:14] Kadaaran commented on #618
I @ssk2 I think I can help, can you provide more infos about the issue ? :)

[2017-09-28 17:32] ssk2 commented on #618
@Kadaaran just went to look and it seems that this has been fixed already I'm afraid :(. Thanks for your offer to help though!

[2017-09-28 17:32] #618 closed

[2017-10-09 23:47] davidhesson commented on #613
Does any of this stuff work? 😟

It appears we almost have 0.7.3 of Zeppelin working with Spark 2.2.0, but we're getting spark class compatibility issues when the slave tries to run the job. I am temporarily getting around the hdfs issue by disabling zeppelin.spark.useHiveContext (setting it to false) in the spark interpreter. I plan on coming back to that if I can get the docker executor to run.

[2017-10-17 14:02] frankscholten commented on #1084
I am also running into this issue.

[2017-10-17 17:15] joerg84 commented on #1084
@ryadav88 Could we address this issue or at least document it

[2017-10-18 13:50] skonto commented on #1389
UI installed is disabled now.

[2017-10-19 20:32] jcmcken opened #1480 "Don't bake universe package data into local universe Docker container"
Instead of baking package data into the universe image, universe should operate on package data from Docker volume instead. There are lots of benefits to this, including faster startup/shutdown time, easier replacement of package data, easier/faster process for building universe images (as opposed to building the package data), separation of concerns, faster image downloads, etc.

[2017-10-30 18:38] unterstein opened #1497 "Logstash not able to install"
When trying to install the `logstash` package out of the catalog, it fails with the error

[code]

Please note to reproduce:
1. Go to catalog
2. Select logstash package
3. Select `configure`
4. Change nothing or change something, how you like
5. Click `Review and deploy`
6. Click `Deploy`
7. See error

If you don't go over the `Configure` section, logstash is able to be installed.

[2017-10-31 23:23] ryadav88 commented on #1497
@jsancio ^

[2017-10-31 23:38] ryadav88 commented on #1084
@jsancio @takirala ^

[2017-11-11 09:40] deric commented on #1026
Tensorflow is currently in [beta](https://github.com/mesosphere/universe/tree/version-3.x/repo/packages/B/beta-tensorflow/0). See [Kevin's blog post](https://mesosphere.com/blog/tensorflow-gpu-support-deep-learning/) for more details or watch the [announcement from MesosCon Europe](https://www.youtube.com/watch?v=vsyU9R3y7VA&list=PLbzoR-pLrL6rSBqPhTh_lmeMmxn6AOSjf&index=22).

[2017-11-17 18:10] surdy commented on #871
This is was a known issues with "community supported" version(4.5.3) of Kibana package and does not impact the now official supported kibana packages. Hence closing this out

[2017-11-17 18:10] #871 closed

[2017-11-24 22:53] deric opened #1543 "Typo in etcd health check"
I'm not an etcd expert but there seems to be a typo in [etcd health check](https://github.com/mesosphere/universe/blob/version-3.x/repo/packages/E/etcd/1/marathon.json.mustache#L32):
[code]
@jdef James could you have a look at that?

[2017-11-27 10:03] jiazhai opened #1544 "Updates for Apache bookkeeper version 4.5.1"
New Package will create the image for bookkeeper 4.5.1 (stable version)

[2017-11-27 22:03] jcmcken opened #1546 "Removed outdated packages to avoid ambiguous local universe build issues"
The ``dse`` and ``hdfs`` packages both have their ``minDcosReleaseVersion`` set to ``999``. When trying to build local universe with these packages, the build fails with a vague error message ("cannot find package") and exits. Instead, these packages should either be removed from the repo or the local universe build script should warn you not to use these packages, or just skip them altogether.

[2017-11-28 13:35] jdef commented on #1543
https://github.com/mesosphere/etcd-mesos/blob/8208cfad1d876bdd73162dbc7993eb2083ffd0b5/scheduler/scheduler.go#L1040

/healthz should be a valid endpoint. is the health check not working for
you?

On Fri, Nov 24, 2017 at 5:53 PM, Tomas Barton <notifications@github.com>
wrote:

[2017-11-28 13:55] deric commented on #1543
Right, sorry I was looking into etcd source code instead:

https://github.com/coreos/etcd/blob/0dbcd7c1a7321f0fffa4c807d35cd5ca5ed04a00/etcdserver/api/etcdhttp/metrics.go#L51

[2017-11-28 13:55] #1543 closed

[2017-11-28 15:02] jiazhai commented on #1544
PR #1547  is for this issue

[2017-11-29 02:39] jiazhai commented on #569
👍, It would be great to have this feature. looking forward to it.

[2017-12-04 20:24] halldorh commented on #871
I have DCOS 1.10.2 running and just installed kibana.

However I am unable to access the UI. Clicking the link in the ui gives me 404 not found after being redirected like so:
http://172.25.2.4:21576/service/kibana/app/kibana

Going directly to /app/kibana gives me this:
Kibana did not load properly. Check the server output for more information.

And the following log entries:

[code]

These are t

[2017-12-07 15:04] frankscholten commented on #1497
I ran into the same issue,

[2017-12-07 15:05] frankscholten commented on #906
It seems this one can be closed? #907 and #922 are already closed.

[2017-12-07 15:07] frankscholten commented on #1084
Ready for review: https://github.com/mesosphere/universe/pull/1556

[2017-12-07 19:46] #906 closed

[2017-12-11 14:16] jiazhai commented on #1544
close this, since #1547 is merged.

[2017-12-11 14:16] #1544 closed

[2017-12-18 04:24] kojiha opened #1582 "Setting local volume does not affect in registry 2.5.2 package"
In the package "registry 2.5.2", HOST_VOLUME_REGISTRY in the storage section of settings does not affect when persistence storage is not enabled.

[2017-12-27 13:11] fmarchand commented on #1497
Any update about this ? I ran into the same issue ...

[2018-01-01 10:25] #538 closed

[2018-01-09 21:42] cap1981 opened #1620 "local universe build fail on #sudo make base (no valid OpenPGP data found)"
# sudo make base
rm -rf certs
rm -f local-universe.tar.gz
mkdir certs && openssl req \
	-newkey rsa:4096 -nodes -sha256 -keyout certs/domain.key \
	-x509 -days 365 -out certs/domain.crt \
	-subj "/CN=master.mesos"
Generating a 4096 bit RSA private key
.................................................................++
........................++
writing new private key to 'certs/domain.key'
-----
d

[2018-01-29 16:48] bergerx opened #1667 "Use MESOS_HTTP rather than HTTP"
Health checks in most frameworks (if not all) is still using HTTP rather than MESOS_HTTP, we experienced problems with some already at scale. HTTP is meant to be depreceated, from MArathon 1.4.0 changelog (https://github.com/mesosphere/marathon/releases/tag/v1.4.0):

At least the getting started guide should be updated soon to lead the new frameworks to use MESOS_HTTP.

[2018-02-01 21:17] ryadav88 opened #1684 "Installing "Eremetic" universe package resulted in dcos-mesos-master and dcos-marathon to enter failed state"
User reports that after installing the community package Eremetic, the mesos-master and marathon services entered a failed state on all masters.

The framework for the eremetic package registers with slashed (/) in the framework ID. Currently Mesos does not have checks around this and the slashed lead to mesos master failing. Mesos is going to add some validation to prevent master from failing in

[2018-02-02 11:42] aggress opened #1689 "base64 switch incorrect in add-stub-universe.sh"
[root@localhost local-universe]# ./add-stub-universe.sh -u https://blah

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  146k  100  146k    0     0  74103      0  0:00:02  0:00:02 --:--:-- 74132
/root/universe/docker/local-universe
Building repo structure for datastax-dse...
base64: i

[2018-02-02 13:26] aggress commented on #1689
https://github.com/mesosphere/universe/pull/1690

[2018-02-02 22:23] jsancio opened #1694 "DC/OS is unable to fetch: http://riak-tools.s3.amazonaws.com/riak-mesos/riak-mesos-medium.png"
We see this in the Cosmos logs:
[code]
You can reproduce this by booting a 1.11 cluster and navigating to the Catalog page in the UI and looking at the request sent by the browser.

HTTP response:
[code]

[2018-02-02 22:26] jsancio opened #1695 "DC/OS is unable to fetch: https://minio.io/img/icons/minio/minio_dark_md_ic.png"
We see this in the Cosmos logs:
[code]
You can reproduce this by booting a 1.11 cluster and navigating to the Catalog page in the UI and looking at the request sent by the browser.

HTTP response:
[code]

[2018-02-02 22:28] jsancio opened #1696 "DC/OS is unable to fetch: http://cdn.apk-cloud.com/detail/image/com.microsoft.operations.AndroidPhone-w250.png"
We see this in the Cosmos logs:
[code]
You can reproduce this by booting a 1.11 cluster and navigating to the Catalog page in the UI and looking at the request sent by the browser.

HTTP response:
[code]

[2018-02-02 22:30] jsancio opened #1697 "DC/OS is unable to fetch: https://secure.gravatar.com/avatar/6edd0acaf80f784fab3dd2c31d604e74.jpg?s%3D80&r=g&d=mm"
We see this in the Cosmos logs:
[code]
You can reproduce this by booting a 1.11 cluster and navigating to the Catalog page in the UI and looking at the request sent by the browser.

HTTP response:
[code]

[2018-02-05 16:39] ryadav88 commented on #1695
@krisis can you update this?

[2018-02-05 16:41] ryadav88 commented on #1697
@twk3 can you update this?

[2018-02-05 16:42] ryadav88 commented on #1696
@amitsara can you update this?

[2018-02-06 11:14] krisis commented on #1695
@ryadav88 I shall try recreate this issue on a local DC/OS setup and share my findings. Thanks for the heads up.

[2018-02-09 17:23] nathanjackson commented on #1620
I am having the exact same issue. Did you have any luck?

[2018-02-09 17:45] nathanjackson commented on #1620
No idea why, but eventually it just worked. I don't think I did anything?

[2018-03-23 09:45] tobilg commented on #1001
Currently, [universe.dcos.io](http://universe.dcos.io/#/packages) only shows the `spark-history` package with a broken images

[2018-03-23 09:45] #1001 closed

[2018-03-23 14:04] mahmoodn opened #1757 "Package search time out"
The repository for dcos is said to be Universe. However, my searches are finally ended with connection time outs.

[code]

[2018-03-27 14:20] dirkjonker opened #1760 "Confluent control center: typo in environment variable"
See: https://github.com/mesosphere/universe/blob/version-3.x/repo/packages/C/confluent-control-center/10/marathon.json.mustache#L24

On line 24 of the marathon template, for the environment variable `CONTROL-CENTER_MONITORING_INTERCEPTOR_TOPIC_PARTITIONS` there is a dash between `CONTROL` and `CENTER` where an underscore should be used.

[2018-04-22 17:39] ChiralMedia opened #1816 "Previously working universe build now fails as jsonschema==2.6.0 is not found"
In the last couple of weeks our universe build (on a Mac) has stopped working, a git clone to a new directory and to a new Centos7 machine fail with the same error.

$ ./build.sh
Building the universe!
Downloading/unpacking jsonschema==2.6.0 (from -r /T/uni3/universe/scripts/requirements/requirements.txt (line 1))
  Cannot fetch index base URL https://pypi.python.org/simple/
  Could not find any d

[2018-04-27 07:18] smutel opened #1826 "Carriage return not taken into account"
Hello,

In package.json of jenkins for example, in preInstallNotes you have \n.
However when you read the preInstallNotes of package jenkins in DC/OS, there is no carriage return.

Thanks.

[2018-04-27 09:05] smutel commented on #1826
In fact it works if we put two \n.
Is-it a normal behavior?

[2018-05-16 01:10] utdrmac opened #1844 "MySQL package should provide configuration options"
Right now, for mysql 5.7, there is no way to change my.cnf parameters when deploying. This causes mysql to use all defaults, which, least of all, is a 10MB innodb buffer pool.

Please add some common configuration parameters to the deployment service options.

Top contenders:
innodb_buffer_pool_size
innodb_log_file_size
query_cache_type (OFF/ON)
query_cache_size (limit to max of 1GB)

If not the a

[2018-05-16 12:13] ChiralMedia commented on #1816
Running the code manually shows the issue to be TLS related, that is that pip no longer supports earlier versions of TLS, this link https://stackoverflow.com/questions/49768770/not-able-to-install-python-packages-ssl-tlsv1-alert-protocol-version contains some useful ideas but updates to OpenSSL (now v1.0.2) and pip (now 10.0.1) make no difference. Still working on it…

Running:

/T/universe2/unive

[2018-05-16 15:28] utdrmac opened #1845 "MySQL package cannot be resumed; infinite loop"
Install the mysql package. Let it start up. In the DCOS GUI, "stop" the service. Wait for it to be killed. Attempt to "resume" the service. mysql will never start back up. If you watch the debug logs, you'll see the process repeatedly get's killed and stuck in some sort of infinite start/kill loop. To break this, you must "restart" the service which, in my testing, causes a new docker volume to be

[2018-05-24 15:34] wallnerryan commented on #1620
same :(

[2018-05-24 15:34] wallnerryan commented on #1620
[code]

[2018-06-09 14:38] ChiralMedia commented on #1816
Resolved by installing latest Centos7 and reinstalling all the required tools. It appears that the old server had a dependency issue, although it also had the latest tool set to build the universe.

Please close this case.

[2018-06-09 14:38] #1816 closed, assigned to nobody

[2018-07-13 05:05] ryadav88 opened #1911 "Grafana 5.1.3"
PR 1503
@deric - `What's the motivation behind these changes? It appears as a regression to me. Why add java binary? Health check path /v1/health returns 404.`

The package is now built with https://github.com/mesosphere/dcos-commons/
It uses a readiness check instead. Java binary is for the scheduler.
Also, I do not see a 404. ?

[2018-07-13 07:11] deric commented on #1911
How do I update such package? `/v1/health` is scheduler's endpoint? Also these ENV variables were removed in #1903:
[code]

[2018-08-01 14:40] khalilbenaissa commented on #871
Do you find an issue for this problem please ?

[2018-08-06 23:29] #339 closed

[2018-09-04 07:34] a-nldisr opened #1971 "Add Labels and Environment variables to universe packages"
By default every Service has the ability to use environment variables and labels, great for those of us who use this feature to enable/disable certain services such as Marathon-LB, Traefik, Hashicorp Vault, opt in for monitoring to mention a few. While Universe packages usually have none of these options unless specifically tailored to the applications needs.

Currently we are using Marathon to wo

[2018-09-18 13:43] adiep-cdpq commented on #1911
How am I supposed to install package with the json config file?

[2018-10-05 08:52] deric commented on #1911
@ryadav88 Yes, I know `dcos-commons`. However I have no idea where to find the source code for Grafana framework. e.g. is `svc.yml` https://ecosystem-repo.s3.amazonaws.com/grafana/artifacts/5.5.0-5.1.3/svc.yml versioned in some git repo?

[2018-11-21 11:47] a-nldisr opened #2053 "Update nifi to 1.7.1"
There are some issues in Nifi 1.5 (for example you cannot stop a processor group when you have an infinite loop). This is resolved in 1.7+. We changed the urls in Marathon to point to nifi version 1.7.1, this deploys and works perfect with current framework.

When i have some time to dive into how the universe package of nifi works, ill try to do PR.

[2018-11-21 11:58] a-nldisr opened #2054 "Nifi scheduler restarts when mesos master restarts"
Today in our test cluster we had a restart of our Mesos leading master. Nifi was the only framework scheduler that restarted due to disconnecting and not attaching to one of the other 2 master/zookeeper nodes. Asked on DCOS slack and got response by mattj.mesosphere to put the issue here since nifi was developed by a Partner team.

Stderr logs:
[code]

stderr:
[code]

[2018-11-21 12:03] a-nldisr commented on #2054
Wanted to inspect this and see if i could help out, also im missing some configuration options (specifically the proxy settings in the properties file). It would help if i could get the github repo where the scheduler originates from, maybe to contribute or at least be able to debug and point at the cause.

[2018-11-30 19:50] nLight commented on #1497
Hey @akaplan-mesosphere, I wonder if you would like to have a look since you were the last one touching it :) It looks like there's a problem with ports. Port should be number and not string. This is why it can't be installed. Thanks!

[2018-12-03 12:27] a-nldisr commented on #2054
Today we had a node failure in our test cluster, this was running the nifi scheduler. It was marked for more than 10 minutes as healthy and did not stage the task until i marked the node as gone. Health checks are a thing that should be checked too.

[2018-12-19 11:04] jdijt opened #2109 "Grafana 5.5.0-5.1.3 fails to deploy in strict mode."
When installing the grafana 5.5.0-5.1.3 package in strict mode (dcos 1.12.0) the installation fails with the following message:
[code]
using the following grafana-options.json:
[code]

[2019-01-29 19:41] cepefernando commented on #871
This continues to be an issue, as per this:

Is a valid workaround to access your service using a DNS records or $DCOS_IP, but what if I need to access ONLY internally on http://dcos-cluster/service/application ?? (other than creating a local DNS in the hosts file)

[2019-03-15 15:58] a-nldisr commented on #2053
I see that nifi is updated but this issue is open, is this the correct location to open tickets?

[2019-03-15 15:58] #2053 closed, assigned to nobody

[2019-03-15 16:01] a-nldisr commented on #1911
Why not use the docker container from the grafana community and utilize this? Previous DCOS installation was using docker containers from the community, when i adjusted this to the latest Grafana version 6+ it was working.

[2019-03-15 16:01] a-nldisr commented on #2054
Any update? Was related to nifi 1.5. Wonder if the upgrade to 1.7 fixed this but cannot check since there is no public repo for this?

[2019-03-26 16:20] nate-kennedy opened #2231 "Make Base Fails"
I was baking an air-gapped universe and failed during the `make base` step. It appears that the source for the nginx server is no longer valid. I see the following error when trying to create the base image:

[code]

I have attempted on both my local workstation and an ec2 instance in us-east-1. In both cases `make base` failed at the same step.

[2019-03-28 01:03] Boes-man opened #2233 "arangodb3 not installing on 1.12.2"
Tried to install Arangodb via the Catalog on a DC/OS 1.12.2 permissive enterprise cluster. 3 private agents (m4.xlarge).

Tasks are starting but then container fails:

I0327 18:02:34.810631 11749 executor.cpp:186] Starting task 55d9fd17-5880-4a1a-8d3b-791e02de3fb7
standard_init_linux.go:178: exec user process caused "no such file or directory"
I0327 18:02:35.466192 11750 executor.cpp:736] Containe

[2019-04-23 19:52] rajcspsg opened #2265 "Add Timeline server to the hdfs service"
Hi,

Currently the hdfs packages  installs below [services](https://i.stack.imgur.com/fRRAS.png) -

1. 1 HDFS
2. 2 Name nodes
3. 3 Journal Nodes
4. 3 Data Nodes

Shall we add Timeline Server to HDFS service?

https://hadoop.apache.org/docs/r3.2.0/hadoop-yarn/hadoop-yarn-site/TimelineServiceV2.html

[2019-04-29 11:51] a-nldisr opened #2272 "Kibana ui wrong path version 6.6.1"
Installed Kibana 6.6.1 from universe, this installed Kibana. When you click the ```Open in new window``` button next to the service it opens to url:
```https://mydcosurl.com/service/kibana/service/kibana/app/kibana```

When you change the url manually to ```https://mydcosurl.com/service/kibana/app/kibana``` you end up in the right location

[2019-05-02 20:30] #782 closed

[2019-05-02 20:32] takirala commented on #1757
This could have been an intermittent networking issue. Please reopen if the issue still exists and we can create a JIRA to track/fix.

[2019-05-02 20:32] #1757 closed, assigned to nobody

[2019-06-11 11:51] wjglerum opened #2301 "Datastax DSE and OpsCenter images point to a bucket that doesn't exist"
The images used to display the icons for datastax-dse and datastax-ops in the DC/OS UI are pointing to a bucket that doesn't exists.

For example:
- DSE: https://github.com/mesosphere/universe/blob/version-3.x/repo/packages/D/datastax-dse/500/resource.json#L16-L20
- OpsCenter: https://github.com/mesosphere/universe/blob/version-3.x/repo/packages/D/datastax-ops/500/resource.json#L16-L20

[2019-06-21 09:42] vibhujain commented on #2301
Thanks for pointing that out @wjglerum
WIP PR: https://github.com/mesosphere/universe/pull/2321

[2019-06-21 09:45] #2301 closed, assigned to vibhujain

[2019-08-13 18:14] cwillhelm opened #2352 "Upstream Repository Broken"
Hi, when trying to access http://repos.mesosphere.com/ubuntu/pool/main/m/marathon/marathon_1.7.189-0.1.20190125223314.ubuntu1804_all.deb I keep getting this error:

[code]

It would be awesome if this could get fixed soon!

[2019-08-14 09:38] #2054 closed, assigned to nobody

[2019-08-15 13:35] cwillhelm commented on #2352
Would it be possible to get an update on this?

[2019-08-20 11:14] inka commented on #2352
Having the same issue. Just following the docs https://mesosphere.github.io/marathon/docs/native-packages.html

[code]

Results in
[code]

Is bionic not supported yet?

[2019-08-27 14:29] #699 closed

[2019-09-13 09:55] a-nldisr opened #2383 "CockroachDB service uses insecure url's for images"
After securing our DCOS interface we received mixed content warnings, we quickly discovered the urls used from cockroachdb are using insecure urls while there are TLS enabled links available.

[2019-11-04 17:46] srajappa opened #2435 "Use PGDATA instead of POSTGRES_PGDATA"
I am using Postgres in the DC/OS cluster and after a an unexpected restart for Postgres, I noticed all the "unique" data which I thought was persisted vanished.

I am adding the corresponding marathon file below:

[code]

After digging it was found out that one of the env variables i.e. `POSTGRES_PGDATA` is not recognized by our Postgres Docker container. If we removed and added the key `PGDATA` a

[2019-11-25 18:16] rishabh96b commented on #1760
Thanks @dirkjonker!
This issue was fixed in later releases.

[2019-11-25 18:16] #1760 closed, assigned to nobody

[2019-11-25 18:19] #886 closed

[2019-12-11 14:19] #583 closed

[2019-12-18 09:55] #1689 closed

[2019-12-19 13:51] pogzie opened #2460 "Correct the value of max instances for Confluent Schema Registry"
https://github.com/mesosphere/universe/blob/version-3.x/repo/packages/C/confluent-schema-registry/200/config.json#L69

          "description": "Number of instances to run (currently limited to 1).",

max is set to 2. this is confusing for our customers.

[2020-01-15 14:37] linben opened #2467 "Marathon Autoscaler needs an updated Docker image"
Currently marathon-autoscaler uses mesosphere/marathon-autoscaler:v0.5.0 which uses an outdated agent statistics endpoint. This causes API requests to fail with 500 errors.

The code has already been updated with the correct API call however the docker image needs to be updated. I have built and tested an updated version: blin/marathon-autoscale:v0.5.1

[2020-02-11 18:45] #1026 closed

[2020-02-13 02:34] rishabh96b commented on #2460
Thanks @pogzie for pointing this out. Will fix this.

[2020-02-13 02:58] #1845 closed, assigned to nobody

[2020-02-13 02:59] rishabh96b commented on #1497
Closing due to inactivity

[2020-02-13 02:59] #1497 closed

[2020-02-13 03:00] #1091 closed

[2020-02-13 03:34] #2460 closed, assigned to rishabh96b

[2020-04-02 19:52] esoterick commented on #2352
Managed to get this working on bionic by specifying a specific package version.

[code]

[2020-06-02 23:38] kaiwalyajoshi commented on #2272
@rishabh96b is this fixed by #2527?

[2020-06-03 07:15] rishabh96b commented on #2272
Yes, we can close this issue now.

[2020-06-03 07:15] #2272 closed, assigned to nobody

[2020-09-08 19:56] srajappa opened #2562 "[Kibana] Typo in the latest framework"
## Description
`kibana_framework_version: 2.7.0-6.8.2`

On deploying Kibana on DC/OS we get the following error
[code]
On further inspection we saw a typo in the file `resource.json` [file](https://github.com/mesosphere/universe/blob/version-3.x/repo/packages/K/kibana/1200/resource.json#L5-L6). If one could observe, the values of the keys have been interchanged.

[code]
Changing the values for the

[2020-09-15 12:55] rishabh96b commented on #2562
Thanks for reporting this @srajappa . This seems to have caused by an issue in our build job. I will push a fix for this issue.

[2020-09-16 12:17] #2562 closed, assigned to rishabh96b

[2020-09-25 22:04] rishabh96b commented on #2435
Thanks for creating this issue @srajappa ! If this is still relevant to you, please feel free to create a PR.

[2020-09-25 22:07] #1480 closed

[2020-09-25 22:07] #1425 closed

[2020-10-11 04:11] #2352 closed, assigned to nobody

[2020-10-11 04:12] #1406 closed

[2020-10-11 04:12] #1389 closed

[2020-10-21 14:41] a-nldisr opened #2591 "400 on trying to download local-universe.tar.gz"
https://github.com/mesosphere/universe/blob/version-3.x/docker/local-universe/README.md
The URL's to mesosphere domain in this link are outdated. example: https://downloads.mesosphere.com/universe/public/local-universe.tar.gz 404

[2020-10-23 08:39] pierrebeitz commented on #2591
file is present. likely a permission issue. 🤔
@fatz?

[2020-10-23 14:32] fatz commented on #2591
No i guess the file is to big. We had such issues already. The max cloudfront filesize is 20G this file is about 28G

I just checked the docs we don't seem to have local universe somewhere in our docs anymore!? There is a way which we provide to EE customers. So I'd ask you to contact our support, so you will get a working universe address from them.

@pierrebeitz we should take this into the next

[2020-12-03 11:13] StevePerezUK opened #2617 "mesos rpm is not signed"
I'm getting this error when I yum install mesos on Centos 7

**Package mesos-1.11.0-2.0.1.el7.x86_64.rpm is not signed**

My repo install is this - sudo yum install -y https://repos.mesosphere.io/el/7/noarch/RPMS/mesosphere-el-repo-7-3.noarch.rpm

Looks like you need to deploy this properly or its a duff rpm?

[2021-01-08 16:02] #1620 closed

[2021-05-26 16:52] srajappa opened #2621 "Why is Prometheus not running on 9090"
## Description

On deploying Prometheus `0.1.2-2.3.2` on DC/OS `v2.1.0` we are seeing the following behavior.

The Prometheus instance i.e. Prometheus-server is running on one of the Private agents and exposed at PORT 1031.

The information is as below:
[code]

## Expected Behavior

On deploying we should have Prometheus workload running on the host and exposing the service at port: 9090.

## Ques

[2021-05-26 20:49] srajappa opened #2622 "Enable Hot Load of Prometheus.yml configurations"
Prometheus service `0.1.2-2.3.2` on DC/OS `v2.1.0` has the following startup configuration.

`--web.enable-lifecycle = false`

This flag if set `true` will help0 update the configuration of Prometheus (prometheus.yml) by passing `curl -X POST http://localhost:9090/-/reload`.

This is especially useful when regular changes of Prom configurations are needed and one doesn't have to restart the entire

[2022-03-18 18:12] #2591 closed, assigned to nobody

[2022-03-18 18:12] #2383 closed, assigned to nobody